Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-11, with the labels that each got.

#1139 31.10
  data-processed/UpgUmibUsi-MultiBayes/2021-10-31-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#1140 Statgroup19-richards forecast
  data-processed/Statgroup19-richards/2021-11-01-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2021-11-01-Statgroup19-spatialrichards.csv
Labels: data-submission

#1141 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-10-31-USC-SIkJalpha.csv
Labels: data-submission

#1143 2021-11-01 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-11-01-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1144 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2021-11-01-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1145 UMass-MechBayes 2021-10-31 submission
  data-processed/UMass-MechBayes/2021-10-31-UMass-MechBayes.csv
Labels: data-submission

#1146 Adds forecast ITWM
  data-processed/itwm-dSEIR/2021-11-01-itwm-dSEIR.csv
Labels: data-submission

#1147 2021-11-01-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-01-RobertWalraven-ESG.csv
Labels: data-submission

#1148 2021-11-01 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-11-01-USyd-OneModelMan.csv
Labels: data-submission

#1149 Predictions 01-11-2021
  data-processed/BIOCOMSC-Gompertz/2021-11-01-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1150 2021-11-01 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-11-01-MUNI-ARIMA.csv
Labels: data-submission

#1151 2021-11-01-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-11-01-IEM_Health-CovidProject.csv
Labels: data-submission

#1152 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-11-01-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#1154 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-01-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1155 2021-11-01 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-11-01-epiMOX-SUIHTER.csv
  data-processed/epiMOX-SUIHTER/metadata-epiMOX-SUIHTER.txt
Labels: data-submission, metadata-change

#1156 Forecast week 01-11
  data-processed/UNED-PreCoV2/2021-11-01-UNED-PreCoV2.csv
Labels: data-submission

#1157 2021-11-01-HZI_AgeExtendeSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-11-01-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1158 ILM-EKF forecast for 2021-11-01
  data-processed/ILM-EKF/2021-11-01-ILM-EKF.csv
Labels: data-submission

#1159 Upload 2021-10-31 Forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-10-31-Karlen-pypm.csv
Labels: data-submission

#1160 2021-11-01-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-11-01-UVA-Ensemble.csv
Labels: data-submission

#1161 Adding DE/PL forecasts.
  data-processed/CovidMetrics-epiBATS/2021-11-01-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-01-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-11-01-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-11-01-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-01-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-11-01-MOCOS-agent1.csv
Labels: data-submission

#1153 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-10-25-Imperial-DeCa.csv
  data-processed/Imperial-DeCa/2021-11-01-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-10-25-Imperial-RtI0.csv
  data-processed/Imperial-RtI0/2021-11-01-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-10-25-Imperial-sbkp.csv
  data-processed/Imperial-sbkp/2021-11-01-Imperial-sbkp.csv
Labels: data-submission

#1166 2021-10-31 epiforecasts-arimareg, epiforecasts-caseconv, epiforecasts-tsensemble
  data-processed/epiforecasts-arimareg/2021-10-31-epiforecasts-arimareg.csv
  data-processed/epiforecasts-caseconv/2021-10-31-epiforecasts-caseconv.csv
  data-processed/epiforecasts-tsensemble/2021-10-31-epiforecasts-tsensemble.csv
Labels: data-submission

#1167 2021-11-01 epiMOX-SUIHTER corrected
  data-processed/epiMOX-SUIHTER/2021-11-01-epiMOX-SUIHTER.csv
Labels: data-submission

#1173 Forecast submission Statgroup19-richards
  data-processed/Statgroup19-richards/2021-11-08-Statgroup19-richards.csv
Labels: data-submission

#1174 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-11-07-USC-SIkJalpha.csv
Labels: data-submission

#1175 7 nov
  data-processed/UpgUmibUsi-MultiBayes/2021-11-07-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#1177 Predictions 08-11-2021
  data-processed/BIOCOMSC-Gompertz/2021-11-08-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1178 2021-11-08 USyd-OneModelMan.
  data-processed/USyd-OneModelMan/2021-11-08-USyd-OneModelMan.csv
Labels: data-submission

#1180 2021-11-08 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-11-08-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1181 submit 11-07 forecasts
  data-processed/UMass-MechBayes/2021-11-07-UMass-MechBayes.csv
Labels: data-submission

#1182 adds forecast itwm
  data-processed/itwm-dSEIR/2021-11-08-itwm-dSEIR.csv
Labels: data-submission

#1183 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-11-08-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#1184 2021-11-08-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-11-08-IEM_Health-CovidProject.csv
Labels: data-submission

#1185 ILM-EKF forecast for 2021-11-08
  data-processed/ILM-EKF/2021-11-08-ILM-EKF.csv
Labels: data-submission

#1186 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-11-08-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-11-08-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-11-08-Imperial-sbkp.csv
Labels: data-submission

#1187 2021-11-08-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-08-RobertWalraven-ESG.csv
Labels: data-submission

#1188 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-08-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1190 2021-11-08-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-11-08-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1193 Upload 2021-11-07 Forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-07-Karlen-pypm.csv
Labels: data-submission

#1171 Test of uploading hospitalization data
  data-processed/MUNI_DMS-SEIAR/2021-11-08-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1191 2021-08-11 MUNI-ARIMA (weekly submission), MUNI-VAR (new model)
  data-processed/MUNI-ARIMA/2021-11-08-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/metadata-MUNI-ARIMA.txt
  data-processed/MUNI-VAR/2021-11-08-MUNI-VAR.csv
  data-processed/MUNI-VAR/metadata-MUNI-VAR.txt
Labels: data-submission, metadata-change

#1195 UVA-Ensemble 2021-11-08
  data-processed/UVA-Ensemble/2021-11-08-UVA-Ensemble.csv
Labels: data-submission

#1200 Sophie Meakin's automated submission
  data-processed/epiforecasts-arimareg/2021-11-07-epiforecasts-arimareg.csv
  data-processed/epiforecasts-caseconv/2021-11-07-epiforecasts-caseconv.csv
  data-processed/epiforecasts-tsensemble/2021-11-07-epiforecasts-tsensemble.csv
Labels: data-submission

#1201 2021-11-08 ECDC hosp model
  data-processed/ECDC-hosp_model/2021-11-08-ECDC-hosp_model.csv
Labels: data-submission

#1210 ULZF team
  data-processed/ULZF-SEIRC19SI/2021-11-15-ULZF-SEIRC19SI.csv
  data-processed/ULZF-SEIRC19SI/metadata-ULZF-SEIRC19SI.txt
Labels: data-submission, metadata-change

#1211 Statgroup19 forecast richards
  data-processed/Statgroup19-richards/2021-11-15-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2021-11-15-Statgroup19-spatialrichards.csv
Labels: data-submission

#1212 14.11.21
  data-processed/UpgUmibUsi-MultiBayes/2021-11-14-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#1214 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-11-14-USC-SIkJalpha.csv
Labels: data-submission

#1215 Upload 2021-11-14 Forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-14-Karlen-pypm.csv
Labels: data-submission

#1216 2021-11-15 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-11-15-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1217 ILM-EKF forecast for 2021-11-15
  data-processed/ILM-EKF/2021-11-15-ILM-EKF.csv
Labels: data-submission

#1218 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-15-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1220 adds forecast ITWM
  data-processed/itwm-dSEIR/2021-11-15-itwm-dSEIR.csv
Labels: data-submission

#1221 Forecast week 15-11
  data-processed/UNED-PreCoV2/2021-11-15-UNED-PreCoV2.csv
Labels: data-submission

#1222 2021-11-15-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-11-15-IEM_Health-CovidProject.csv
Labels: data-submission

#1224 adding 2021-11-14 UMass-MechBayes
  data-processed/UMass-MechBayes/2021-11-14-UMass-MechBayes.csv
Labels: data-submission

#1225 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-11-15-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#1226 2021-11-15-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-15-RobertWalraven-ESG.csv
Labels: data-submission

#1227 2021-11-15 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-11-15-epiMOX-SUIHTER.csv
Labels: data-submission

#1223 2021-11-15 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-11-15-USyd-OneModelMan.csv
Labels: data-submission

#1228 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2021-11-15-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1229 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-11-15-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-11-15-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-11-15-Imperial-sbkp.csv
Labels: data-submission

#1231 2021-11-15-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-11-15-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1213 2020-12-02 - JBUD submission
  data-processed/JBUD-HMXK/2021-11-14-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/metadata-JBUD-HMXK.txt
Labels: data-submission, metadata-change

#1232 2021-11-15 MUNI-ARIMA, -VAR, -LaggedRegARIMA (new model)
  data-processed/MUNI-ARIMA/2021-11-15-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-15-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/metadata-MUNI-LaggedRegARIMA.txt
  data-processed/MUNI-VAR/2021-11-15-MUNI-VAR.csv
Labels: data-submission, metadata-change

#1233 Adding DE/PL Forecasts
  data-processed/CovidMetrics-epiBATS/2021-11-15-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-15-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-11-15-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-11-15-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-15-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-11-15-MOCOS-agent1.csv
Labels: data-submission

#1234 Update metadata-ICM-agentModel.txt
  data-processed/ICM-agentModel/metadata-ICM-agentModel.txt
Labels: metadata-change

#1235 Sophie Meakin's automated submission
  data-processed/epiforecasts-arimareg/2021-11-14-epiforecasts-arimareg.csv
  data-processed/epiforecasts-caseconv/2021-11-14-epiforecasts-caseconv.csv
  data-processed/epiforecasts-tsensemble/2021-11-14-epiforecasts-tsensemble.csv
Labels: data-submission

#1246 Enumerate possible locations
  data-processed/schema-forecast.yml
Labels: metadata-change

#1245 Forecast submission Statgroup19
  data-processed/Statgroup19-richards/2021-11-22-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2021-11-22-Statgroup19-spatialrichards.csv
Labels: data-submission

#1247 21.11
  data-processed/UpgUmibUsi-MultiBayes/2021-11-21-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#1248 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-11-21-USC-SIkJalpha.csv
Labels: data-submission

#1249 2021-11-22 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-11-22-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1251 ILM-EKF forecast for 2021-11-22
  data-processed/ILM-EKF/2021-11-22-ILM-EKF.csv
Labels: data-submission

#1253 2021-11-21-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-11-21-UMass-MechBayes.csv
Labels: data-submission

#1254 2021-11-22 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-11-22-USyd-OneModelMan.csv
Labels: data-submission

#1255 2021-11-22-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-11-22-IEM_Health-CovidProject.csv
Labels: data-submission

#1256 2021-11-22-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2021-11-22-ULZF-SEIRC19SI.csv
  data-processed/ULZF-SEIRC19SI/metadata-ULZF-SEIRC19SI.txt
Labels: data-submission, metadata-change

#1257 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-11-22-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-11-22-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-11-22-Imperial-sbkp.csv
Labels: data-submission

#1259 Forecast week 22-11
  data-processed/UNED-PreCoV2/2021-11-22-UNED-PreCoV2.csv
Labels: data-submission

#1260 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-11-22-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#1261 2021-11-22 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-11-22-epiMOX-SUIHTER.csv
Labels: data-submission

#1262 2021-11-22-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-22-RobertWalraven-ESG.csv
Labels: data-submission

#1263 2021-11-22 MUNI-ARIMA etc.
  data-processed/MUNI-ARIMA/2021-11-22-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-22-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-11-22-MUNI-VAR.csv
Labels: data-submission

#1264 2021-11-22-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-22-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1265 Predictions 22-11-2021
  data-processed/BIOCOMSC-Gompertz/2021-11-22-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1266 Adds forecast ITWM
  data-processed/itwm-dSEIR/2021-11-22-itwm-dSEIR.csv
Labels: data-submission

#1267 2021-11-22-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-11-22-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1268 Upload 2021-11-21 Forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-21-Karlen-pypm.csv
Labels: data-submission

#1269 UVA-Ensemble 2021-11-22
  data-processed/UVA-Ensemble/2021-11-22-UVA-Ensemble.csv
Labels: data-submission

#1270 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-11-22-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-22-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-11-22-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-11-22-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-22-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-11-22-MOCOS-agent1.csv
Labels: data-submission

#1244 2021-Nov-22-Forecast
  data-processed/DirkBeckmann-Gompertz/2021-11-22-DirkBeckmann-Gompertz.csv
  data-processed/DirkBeckmann-Gompertz/metadata-DirkBeckmann-Gompertz.txt
Labels: data-submission, metadata-change

#1273 2021-11-21 epiforecasts-tsensemble, epiforecasts-arimareg, epiforecasts-caseconv
  data-processed/epiforecasts-arimareg/2021-11-21-epiforecasts-arimareg.csv
  data-processed/epiforecasts-caseconv/2021-11-21-epiforecasts-caseconv.csv
  data-processed/epiforecasts-tsensemble/2021-11-21-epiforecasts-tsensemble.csv
Labels: data-submission

#1274 2021-11-22 ECDC hosp model
  data-processed/ECDC-hosp_model/2021-11-22-ECDC-hosp_model.csv
Labels: data-submission

#1275 Retract forecast
  data-processed/MUNI-LaggedRegARIMA/2021-11-15-MUNI-LaggedRegARIMA.csv
Labels: data-submission, forecast-updated

#1278 2nd Forecast Upload
  data-processed/DirkBeckmann-Gompertz/2021-11-29-DirkBeckmann-Gompertz.csv
Labels: data-submission

#1280 28.11 third
  data-processed/UpgUmibUsi-MultiBayes/2021-11-28-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#1281 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-11-28-USC-SIkJalpha.csv
Labels: data-submission

#1283 Forecast Statgroup19 richards
  data-processed/Statgroup19-richards/2021-11-29-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2021-11-29-Statgroup19-spatialrichards.csv
Labels: data-submission

#1284 ILM-EKF forecast for 2021-11-29
  data-processed/ILM-EKF/2021-11-29-ILM-EKF.csv
Labels: data-submission

#1285 2021-11-29 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-11-29-USyd-OneModelMan.csv
Labels: data-submission

#1287 Predictions 29/11/2021
  data-processed/BIOCOMSC-Gompertz/2021-11-29-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1288 2021-11-29-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-11-29-IEM_Health-CovidProject.csv
Labels: data-submission

#1289 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-11-29-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#1290 2021-11-29 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-11-29-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1291 2021-11-29-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-11-29-RobertWalraven-ESG.csv
Labels: data-submission

#1293 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2021-11-29-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1294 2021-11-29 MUNI
  data-processed/MUNI-ARIMA/2021-11-29-MUNI-ARIMA.csv
  data-processed/MUNI-LaggedRegARIMA/2021-11-29-MUNI-LaggedRegARIMA.csv
  data-processed/MUNI-VAR/2021-11-29-MUNI-VAR.csv
Labels: data-submission

#1295 2021-11-28-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-11-28-UMass-MechBayes.csv
Labels: data-submission

#1296 2021-11-29-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2021-11-29-ULZF-SEIRC19SI.csv
Labels: data-submission

#1297 Adds forecast ITWM
  data-processed/itwm-dSEIR/2021-11-29-itwm-dSEIR.csv
Labels: data-submission

#1298 Forecast week 29-11
  data-processed/UNED-PreCoV2/2021-11-29-UNED-PreCoV2.csv
Labels: data-submission

#1299 2021-11-29-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-11-29-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1300 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-11-29-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1301 UVA-Ensemble 2021-11-29
  data-processed/UVA-Ensemble/2021-11-29-UVA-Ensemble.csv
Labels: data-submission

#1282 Upload 2021-11-28 Forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-11-28-Karlen-pypm.csv
Labels: data-submission

#1292 2021-11-29 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-11-29-epiMOX-SUIHTER.csv
Labels: data-submission

#1286 forecast hosp
  data-processed/fohm-c19inbel/2021-11-29-fohm-c19inbel.csv
  data-processed/fohm-c19inbel/metadata-fohm-c19inbel.txt
Labels: data-submission, metadata-change

#1302 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-11-29-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-11-29-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-11-29-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-11-29-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-11-29-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-11-29-MOCOS-agent1.csv
Labels: data-submission

#1305 2021-11-28 epiforecasts-arimareg, epiforecasts-caseconv, epiforecasts-tsensemble
  data-processed/epiforecasts-arimareg/2021-11-28-epiforecasts-arimareg.csv
  data-processed/epiforecasts-caseconv/2021-11-28-epiforecasts-caseconv.csv
  data-processed/epiforecasts-tsensemble/2021-11-28-epiforecasts-tsensemble.csv
Labels: data-submission

#1306 2021-11-29 ECDC hosp model
  data-processed/ECDC-hosp_model/2021-11-29-ECDC-hosp_model.csv
Labels: data-submission
