Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-10, with the labels that each got.

#988 license update
  data-processed/UNIPV-BayesINGARCHX/metadata-UNIPV-BayesINGARCHX.txt
Labels: metadata-change

#991 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-10-03-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#992 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-10-03-USC-SIkJalpha.csv
Labels: data-submission

#994 Upload 2021-10-03 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-10-03-Karlen-pypm.csv
Labels: data-submission

#995 2021-10-04-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-10-04-RobertWalraven-ESG.csv
  data-processed/RobertWalraven-ESG/metadata-RobertWalraven-ESG.txt
Labels: data-submission, metadata-change

#996 2021-10-04 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-10-04-SDSC_ISG-TrendModel.csv
Labels: data-submission

#998 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2021-10-04-MUNI_DMS-SEIAR.csv
Labels: data-submission

#999 Forecast week 04-10
  data-processed/UNED-PreCoV2/2021-10-04-UNED-PreCoV2.csv
Labels: data-submission

#1000 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-10-04-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#1001 adds forecast ITWM week 40
  data-processed/itwm-dSEIR/2021-10-04-itwm-dSEIR.csv
Labels: data-submission

#1002 2021-10-04 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-10-04-USyd-OneModelMan.csv
Labels: data-submission

#1003 2021-10-04-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-10-04-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1004 2021-10-04-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-10-04-IEM_Health-CovidProject.csv
Labels: data-submission

#1005 2021-10-04-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-10-04-MUNI-ARIMA.csv
Labels: data-submission

#1006 2021-10-03-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-10-03-UMass-MechBayes.csv
Labels: data-submission

#1008 2021-10-04 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-10-04-epiMOX-SUIHTER.csv
Labels: data-submission

#1009 2021-10-04-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-10-04-UVA-Ensemble.csv
Labels: data-submission

#1010 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-10-04-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1012 Predictions 04/10/2021
  data-processed/BIOCOMSC-Gompertz/2021-10-04-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1013 ILM-EKF forecast for 2021-10-04
  data-processed/ILM-EKF/2021-10-04-ILM-EKF.csv
Labels: data-submission

#1014 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-10-04-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-10-04-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-10-04-ICM-agentModel.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-10-04-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-10-04-MOCOS-agent1.csv
Labels: data-submission

#1011 2021-10-04 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-10-04-epiforecasts-EpiNow2.csv
Labels: data-submission

#993 Create 2021-10-04-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-09-27-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-10-04-UB-BSLCoV.csv
Labels: data-submission

#1015 Add LANL custom license
  data-processed/LANL-GrowthRate/LICENSE.txt
Labels: metadata-change

#1016 Metadata emails
  code/validation/check-metadata-emails.R
  data-processed/EuroCOVIDhub-baseline/metadata-EuroCOVIDhub-baseline.txt
  data-processed/Imperial-sbkp/metadata-Imperial-sbkp.txt
  data-processed/UNIPV-BayesINGARCHX/metadata-UNIPV-BayesINGARCHX.txt
  data-processed/epiforecasts-EpiExpert/metadata-epiforecasts-EpiExpert.txt
  data-processed/epiforecasts-EpiExpert_Rt/metadata-epiforecasts-EpiExpert_Rt.txt
  data-processed/epiforecasts-EpiExpert_direct/metadata-epiforecasts-EpiExpert_direct.txt
  data-processed/epiforecasts-EpiNow2/metadata-epiforecasts-EpiNow2.txt
  data-processed/itwm-dSEIR/metadata-itwm-dSEIR.txt
Labels: enhancement, metadata-change, low-priority

#1017 Update license and metadata (CovidMetrics -epiBATS)
  data-processed/CovidMetrics-epiBATS/LICENSE.txt
  data-processed/CovidMetrics-epiBATS/metadata-CovidMetrics-epiBATS.txt
Labels: metadata-change

#1029 2021-10-11 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-10-11-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1032 ILM-EKF forecast for 2021-10-11
  data-processed/ILM-EKF/2021-10-11-ILM-EKF.csv
Labels: data-submission

#1039 2021-10-11 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-10-11-MUNI-ARIMA.csv
Labels: data-submission

#1046 PL forecast 2021-10-11
  data-processed/PL_GRedlarski-DistrictsSum/2021-10-11-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1048 Predictions 11-10-2021
  data-processed/BIOCOMSC-Gompertz/2021-10-11-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1049 2021-10-11-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-10-11-UVA-Ensemble.csv
Labels: data-submission
