Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-06, with the labels that each got.

#443 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-05-30-USC-SIkJalpha.csv
Labels: data-submission

#444 2021-05-31 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-05-31-SDSC_ISG-TrendModel.csv
Labels: data-submission

#445 2021-05-31-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-05-31-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#446 2021-05-31 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-05-31-USyd-OneModelMan.csv
Labels: data-submission

#447 adds forecast week 22
  data-processed/itwm-dSEIR/2021-05-31-itwm-dSEIR.csv
Labels: data-submission

#448 ILM-EKF forecast for 2021-05-31
  data-processed/ILM-EKF/2021-05-31-ILM-EKF.csv
Labels: data-submission

#449 2021-05-31 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-05-31-epiMOX-SUIHTER.csv
Labels: data-submission

#450 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-05-31-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#451 Forecast for 2021-05-31
  data-processed/UB-BSLCoV/2021-05-31-UB-BSLCoV.csv
Labels: data-submission

#452 Submission 31/05/2021
  data-processed/MUNI_DMS-SEIAR/2021-05-31-MUNI_DMS-SEIAR.csv
  data-processed/MUNI_DMS-SEIAR/metadata-MUNI_DMS-SEIAR.txt
Labels: data-submission, metadata-change

#454 2021-05-31-HZIAgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-05-31-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#455 Forecasts for this week
  data-processed/UNED-PreCoV2/2021-05-31-UNED-PreCoV2.csv
Labels: data-submission

#456 2021-05-31-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-31-RobertWalraven-ESG.csv
Labels: data-submission

#457 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-05-30-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#458 2021-05-31 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-31-MUNI-ARIMA.csv
Labels: data-submission

#460 2021-05-31 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-05-31-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-05-31-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-05-31-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-05-31-epiforecasts-EpiNow2.csv
Labels: data-submission

#461 Predictions 31-05-2021
  data-processed/BIOCOMSC-Gompertz/2021-05-31-BIOCOMSC-Gompertz.csv
Labels: data-submission

#462 2021-05-30 MB/SM
  data-processed/UMass-MechBayes/2021-05-30-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-05-30-UMass-SemiMech.csv
Labels: data-submission

#463 2021-05-31-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-05-31-UVA-Ensemble.csv
Labels: data-submission

#464 Data submission
  data-processed/DSMPG-bayes/2021-03-01-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-03-08-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-03-15-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-03-22-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-03-29-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-04-05-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-04-12-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-04-19-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-04-26-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-05-03-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-05-10-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-05-17-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-05-24-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/2021-05-31-DSMPG-bayes.csv
  data-processed/DSMPG-bayes/metadata-DSMPG-bayes.txt
Labels: data-submission, forecast-updated, metadata-change

#465 Adding forecasts submitted via DE/PL plattform
  data-processed/CovidMetrics-epiBATS/2021-05-31-CovidMetrics-epiBATS.csv
  data-processed/CovidMetrics-epiBATS/metadata-CovidMetrics-epiBATS.txt
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-31-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-05-31-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-05-31-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-05-30-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-31-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-05-31-MOCOS-agent1.csv
Labels: data-submission, metadata-change

#453 2021-05-31-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-05-31-IEM_Health-CovidProject.csv
Labels: data-submission

#471 Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-31-MIMUW-StochSEIR.csv
Labels: data-submission

#479 2021-06-07 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-06-07-SDSC_ISG-TrendModel.csv
Labels: data-submission

#482 Submission 2021-06-07
  data-processed/MUNI_DMS-SEIAR/2021-06-07-MUNI_DMS-SEIAR.csv
  data-processed/MUNI_DMS-SEIAR/metadata-MUNI_DMS-SEIAR.txt
Labels: data-submission, metadata-change

#483 2021-06-07 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-06-07-USyd-OneModelMan.csv
Labels: data-submission

#484 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-06-07-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-06-07-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-06-07-Imperial-sbkp.csv
Labels: data-submission

#485 ILM-EKF forecast for 2021-06-07
  data-processed/ILM-EKF/2021-06-07-ILM-EKF.csv
Labels: data-submission

#486 adds forecast for week 23
  data-processed/itwm-dSEIR/2021-06-07-itwm-dSEIR.csv
Labels: data-submission

#488 2021-06-07 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-07-MUNI-ARIMA.csv
Labels: data-submission

#489 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-06-07-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#490 2021-06-07-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-07-RobertWalraven-ESG.csv
Labels: data-submission

#491 2021-06-07 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-06-07-epiMOX-SUIHTER.csv
Labels: data-submission

#492 2021-06-06 MB/SM
  data-processed/UMass-MechBayes/2021-06-06-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-06-06-UMass-SemiMech.csv
Labels: data-submission

#493 2021-06-07-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-06-07-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#494 2021-06-07-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-06-07-IEM_Health-CovidProject.csv
Labels: data-submission

#495 DSMPG | Forecast 2021-06-07
  data-processed/DSMPG-bayes/2021-06-07-DSMPG-bayes.csv
Labels: data-submission

#498 2021-06-07 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-06-07-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-07-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-07-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-06-07-epiforecasts-EpiNow2.csv
Labels: data-submission

#500 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-06-07-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-07-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-06-07-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-06-07-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-06-06-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-07-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-06-07-MOCOS-agent1.csv
Labels: data-submission

#503 Latest predictions MIM UW
  data-processed/MIMUW-StochSEIR/2021-06-07-MIMUW-StochSEIR.csv
Labels: data-submission

#507 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-06-13-USC-SIkJalpha.csv
Labels: data-submission

#508 Weekly update for 2021 June 7th and 14th
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-31 1.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-06-07 1.csv
  data-processed/UB-BSLCoV/2021-06-07-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-06-14-UB-BSLCoV.csv
  data-raw/LANL-GrowthRate/2021-05-02_global_incidence_weekly_cases_website.csv
  data-raw/LANL-GrowthRate/2021-05-02_global_incidence_weekly_deaths_website.csv
  data-raw/LANL-GrowthRate/2021-05-09_global_incidence_weekly_cases_website.csv
  data-raw/LANL-GrowthRate/2021-05-09_global_incidence_weekly_deaths_website.csv
  data-raw/LANL-GrowthRate/2021-05-16_global_incidence_weekly_cases_website.csv
  data-raw/LANL-GrowthRate/2021-05-16_global_incidence_weekly_deaths_website.csv
  data-raw/LANL-GrowthRate/2021-05-23_global_incidence_weekly_cases_website.csv
  data-raw/LANL-GrowthRate/2021-05-23_global_incidence_weekly_deaths_website.csv
Labels: data-submission, other-files-updated

#509 2021-06-14 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-06-14-SDSC_ISG-TrendModel.csv
Labels: data-submission

#510 2021-06-14 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-14-MUNI-ARIMA.csv
Labels: data-submission

#512 2021-06-14 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-06-14-USyd-OneModelMan.csv
Labels: data-submission

#513 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-06-14-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-06-14-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-06-14-Imperial-sbkp.csv
Labels: data-submission

#514 submission 14/06/2021
  data-processed/MUNI_DMS-SEIAR/2021-06-14-MUNI_DMS-SEIAR.csv
Labels: data-submission

#515 ILM-EKF forecast for 2021-06-14
  data-processed/ILM-EKF/2021-06-14-ILM-EKF.csv
Labels: data-submission

#516 Forecasts for this week
  data-processed/UNED-PreCoV2/2021-06-14-UNED-PreCoV2.csv
Labels: data-submission

#517 2021-06-14-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-06-14-IEM_Health-CovidProject.csv
Labels: data-submission

#519 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-06-14-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#520 2021-06-14 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-06-14-epiMOX-SUIHTER.csv
Labels: data-submission

#521 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-06-13-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#522 2021-06-14-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-14-RobertWalraven-ESG.csv
Labels: data-submission

#523 2021-06-14-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-06-14-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#524 Predictions 2021-06-14
  data-processed/BIOCOMSC-Gompertz/2021-06-14-BIOCOMSC-Gompertz.csv
Labels: data-submission

#525 2021-06-14-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-06-14-UVA-Ensemble.csv
Labels: data-submission

#526 2021-06-14 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-06-14-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-14-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-14-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-06-14-epiforecasts-EpiNow2.csv
Labels: data-submission

#527 DSMPG | Forecast 2021-06-14
  data-processed/DSMPG-bayes/2021-06-14-DSMPG-bayes.csv
Labels: data-submission

#528 adds forecast week 24
  data-processed/itwm-dSEIR/2021-06-14-itwm-dSEIR.csv
Labels: data-submission

#529 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-06-14-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-14-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-06-14-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-06-14-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-06-13-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-14-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-06-14-MOCOS-agent1.csv
Labels: data-submission

#530 2021-06-13 MB/SM
  data-processed/UMass-MechBayes/2021-06-13-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-06-13-UMass-SemiMech.csv
Labels: data-submission

#533 [MIMUW] Latest predictions
  data-processed/MIMUW-StochSEIR/2021-06-14-MIMUW-StochSEIR.csv
Labels: data-submission

#538 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-06-20-USC-SIkJalpha.csv
Labels: data-submission

#539 Update for June 21st 2021
  data-processed/UB-BSLCoV/2021-06-21-UB-BSLCoV.csv
Labels: data-submission

#540 2021-06-21 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-06-21-SDSC_ISG-TrendModel.csv
Labels: data-submission

#541 2021-06-21 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-06-21-USyd-OneModelMan.csv
Labels: data-submission

#542 [21-06] Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-06-21-MIMUW-StochSEIR.csv
Labels: data-submission

#543 2021-06-21 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-21-MUNI-ARIMA.csv
Labels: data-submission

#544 Forecasts for this week.
  data-processed/UNED-PreCoV2/2021-06-21-UNED-PreCoV2.csv
Labels: data-submission

#545 Submission 2021-06-21
  data-processed/MUNI_DMS-SEIAR/2021-06-21-MUNI_DMS-SEIAR.csv
Labels: data-submission

#546 ILM-EKF forecast for 2021-06-21
  data-processed/ILM-EKF/2021-06-21-ILM-EKF.csv
Labels: data-submission

#547 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-06-21-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-06-21-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-06-21-Imperial-sbkp.csv
Labels: data-submission

#548 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-06-21-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#549 2021-06-21-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-06-21-IEM_Health-CovidProject.csv
Labels: data-submission

#550 2021-06-21-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-21-RobertWalraven-ESG.csv
Labels: data-submission

#551 2021-06-21-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-06-21-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#552 2021-06-20 SM/MB
  data-processed/UMass-MechBayes/2021-06-20-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-06-20-UMass-SemiMech.csv
Labels: data-submission

#553 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-06-20-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#554 2021-06-21-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-06-21-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#555 2021-06-21 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-06-21-epiMOX-SUIHTER.csv
Labels: data-submission

#556 2021-06-21 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-06-21-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-21-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-21-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-06-21-epiforecasts-EpiNow2.csv
Labels: data-submission

#557 2021-06-21-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-06-21-UVA-Ensemble.csv
Labels: data-submission

#558 Predictions 21-06-2021
  data-processed/BIOCOMSC-Gompertz/2021-06-21-BIOCOMSC-Gompertz.csv
Labels: data-submission

#559 adds forecast week 25
  data-processed/itwm-dSEIR/2021-06-21-itwm-dSEIR.csv
Labels: data-submission

#560 Forecast 2021-06-21 | DSMPG
  data-processed/DSMPG-bayes/2021-06-21-DSMPG-bayes.csv
Labels: data-submission

#561 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-06-21-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-21-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-06-21-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-06-21-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-06-20-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-21-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-06-21-MOCOS-agent1.csv
Labels: data-submission

#566 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-06-27-USC-SIkJalpha.csv
Labels: data-submission

#567 Create 2021-06-28-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-06-28-UB-BSLCoV.csv
Labels: data-submission

#568 2021-06-28 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-06-28-SDSC_ISG-TrendModel.csv
Labels: data-submission

#569 2021-06-28 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-06-28-USyd-OneModelMan.csv
Labels: data-submission

#571 ILM-EKF forecast for 2021-06-28
  data-processed/ILM-EKF/2021-06-28-ILM-EKF.csv
Labels: data-submission

#572 Submission 2021-06-28
  data-processed/MUNI_DMS-SEIAR/2021-06-28-MUNI_DMS-SEIAR.csv
Labels: data-submission

#573 adds forecast week 26
  data-processed/itwm-dSEIR/2021-06-28-itwm-dSEIR.csv
Labels: data-submission

#574 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-06-28-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-06-28-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-06-28-Imperial-sbkp.csv
Labels: data-submission

#575 This week's forecasts
  data-processed/UNED-PreCoV2/2021-06-28-UNED-PreCoV2.csv
Labels: data-submission

#576 2021-06-28-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-06-28-IEM_Health-CovidProject.csv
Labels: data-submission

#578 2021-06-28-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-06-28-RobertWalraven-ESG.csv
Labels: data-submission

#579 2021-06-28 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-06-28-MUNI-ARIMA.csv
Labels: data-submission

#580 2021-06-28-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-06-28-HZI-AgeExtendedSEIR.csv
Labels: data-submission, other-files-updated

#581 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-06-28-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#582 2021-06-28-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-06-28-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#583 2021-06-28 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-06-28-epiMOX-SUIHTER.csv
Labels: data-submission

#584 2021-06-27 MB/SM
  data-processed/UMass-MechBayes/2021-06-27-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-06-27-UMass-SemiMech.csv
Labels: data-submission

#585 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-06-27-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#586 Predictions 28-06-2021
  data-processed/BIOCOMSC-Gompertz/2021-06-28-BIOCOMSC-Gompertz.csv
Labels: data-submission

#587 2021-06-28-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-06-28-UVA-Ensemble.csv
Labels: data-submission

#588 28-06 Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-06-28-MIMUW-StochSEIR.csv
Labels: data-submission

#591 2021-06-28 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-06-28-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-06-28-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-06-28-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-06-28-epiforecasts-EpiNow2.csv
Labels: data-submission

#592 Adding DE/PL forecasts.
  data-processed/CovidMetrics-epiBATS/2021-06-28-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-06-28-FIAS_FZJ-Epi1Ger.csv
  data-processed/ITWW-county_repro/2021-06-28-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-06-27-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-06-28-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-06-28-MOCOS-agent1.csv
Labels: data-submission
