Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-07, with the labels that each got.

#605 Trial-02072021
  data-processed/BIOCOMSC-Gompertz/2021-07-05-BIOCOMSC-Gompertz.csv
Labels: data-submission, forecast-updated

#606 Submission 2021-07-05
  data-processed/MUNI_DMS-SEIAR/2021-07-05-MUNI_DMS-SEIAR.csv
Labels: data-submission

#610 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-07-04-USC-SIkJalpha.csv
Labels: data-submission

#611 2021-07-05 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-07-05-SDSC_ISG-TrendModel.csv
Labels: data-submission

#612 Create 2021-07-05-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-07-05-UB-BSLCoV.csv
Labels: data-submission

#616 adds forecast week 27
  data-processed/itwm-dSEIR/2021-07-05-itwm-dSEIR.csv
Labels: data-submission

#617 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-07-05-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-07-05-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-07-05-Imperial-sbkp.csv
Labels: data-submission

#618 2021-07-05-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-07-05-IEM_Health-CovidProject.csv
Labels: data-submission

#619 2021-07-05 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-05-MUNI-ARIMA.csv
Labels: data-submission

#622 2021-07-05-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-05-RobertWalraven-ESG.csv
Labels: data-submission

#623 2021-07-05-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-07-05-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#624 2021-07-05 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-07-05-USyd-OneModelMan.csv
Labels: data-submission

#625 2021-07-05-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-07-05-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#626 05-07 Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-07-05-MIMUW-StochSEIR.csv
Labels: data-submission

#627 2021-07-04 SM MB
  data-processed/UMass-MechBayes/2021-07-04-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-07-04-UMass-SemiMech.csv
Labels: data-submission

#628 Forecasts for this week
  data-processed/UNED-PreCoV2/2021-07-05-UNED-PreCoV2.csv
Labels: data-submission

#629 2021-07-05 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-07-05-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-05-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-05-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-07-05-epiforecasts-EpiNow2.csv
Labels: data-submission

#630 2021-07-05 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-07-05-epiMOX-SUIHTER.csv
Labels: data-submission

#631 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-07-04-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#632 2021-07-05-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-07-05-UVA-Ensemble.csv
Labels: data-submission

#634 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-07-05-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-05-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-07-05-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-07-05-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-07-04-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-05-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-07-05-MOCOS-agent1.csv
Labels: data-submission

#621 Minor update of plotting function for preview app.
  code/app_check_submission_eu/plot_functions.R
  data-processed/KITmetricslab-bivariate_branching/2021-07-05-KITmetricslab-bivariate_branching.csv
  data-processed/KITmetricslab-bivariate_branching/metadata-KITmetricslab-bivariate_branching.txt
Labels: data-submission, metadata-change, other-files-updated

#636 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-07-05-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#603 Exclude `other` designated models from past ensembles
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-03-08.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-03-15.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-03-22.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-03-29.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-04-05.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-04-12.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-04-19.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-04-26.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-03.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-10.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-17.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-24.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-31.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-06-07.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-06-14.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-06-21.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-06-28.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-07-05.csv
  data-processed/EuroCOVIDhub-ensemble/2021-03-08-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-03-15-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-03-22-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-03-29-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-05-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-12-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-19-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-04-26-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-03-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-10-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-17-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-24-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-31-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-06-07-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-06-14-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-06-21-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-06-28-EuroCOVIDhub-ensemble.csv
  evaluation/evaluation-2021-04-05.csv
  evaluation/evaluation-2021-04-12.csv
  evaluation/evaluation-2021-04-19.csv
  evaluation/evaluation-2021-04-26.csv
  evaluation/evaluation-2021-05-03.csv
  evaluation/evaluation-2021-05-10.csv
  evaluation/evaluation-2021-05-17.csv
  evaluation/evaluation-2021-05-24.csv
  evaluation/evaluation-2021-05-31.csv
  evaluation/evaluation-2021-06-07.csv
  evaluation/evaluation-2021-06-14.csv
  evaluation/evaluation-2021-06-21.csv
  evaluation/evaluation-2021-06-28.csv
Labels: data-submission, forecast-updated, other-files-updated

#643 Create 2021-07-12-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-07-12-UB-BSLCoV.csv
Labels: data-submission

#644 2021-07-12 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-07-12-SDSC_ISG-TrendModel.csv
Labels: data-submission

#645 ILM-EKF forecast for 2021-07-12
  data-processed/ILM-EKF/2021-07-12-ILM-EKF.csv
Labels: data-submission

#647 adds forecast for week 28
  data-processed/itwm-dSEIR/2021-07-12-itwm-dSEIR.csv
Labels: data-submission

#648 2021-07-12 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-12-MUNI-ARIMA.csv
Labels: data-submission

#650 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-07-12-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-07-12-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-07-12-Imperial-sbkp.csv
Labels: data-submission

#651 Submission 2021-07-12
  data-processed/MUNI_DMS-SEIAR/2021-07-12-MUNI_DMS-SEIAR.csv
Labels: data-submission

#652 2021-07-12 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-07-12-USyd-OneModelMan.csv
Labels: data-submission

#653 2021-07-12-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-07-12-IEM_Health-CovidProject.csv
Labels: data-submission

#654 Branching process forecasts
  data-processed/KITmetricslab-bivariate_branching/2021-07-12-KITmetricslab-bivariate_branching.csv
Labels: data-submission

#655 2021-07-12-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-07-12-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#656 2021-07-12-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-12-RobertWalraven-ESG.csv
Labels: data-submission

#660 Predictions 2021-07-12
  data-processed/BIOCOMSC-Gompertz/2021-07-12-BIOCOMSC-Gompertz.csv
Labels: data-submission

#661 2021-07-12 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-07-12-epiMOX-SUIHTER.csv
Labels: data-submission

#662 12-07 latest predictions
  data-processed/MIMUW-StochSEIR/2021-07-12-MIMUW-StochSEIR.csv
Labels: data-submission

#663 2021-07-11 MB
  data-processed/UMass-MechBayes/2021-07-11-UMass-MechBayes.csv
Labels: data-submission

#664 2021-07-12-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-07-12-UVA-Ensemble.csv
Labels: data-submission

#665 Upload 2021-07-11 forecasts for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-11-Karlen-pypm.csv
  data-processed/Karlen-pypm/metadata-Karlen-pypm.txt
Labels: data-submission, metadata-change

#666 2021-07-12 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-07-12-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-12-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-12-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-07-12-epiforecasts-EpiNow2.csv
Labels: data-submission

#668 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-07-12-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#669 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-07-12-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-12-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-07-12-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-07-12-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-12-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-07-12-MOCOS-agent1.csv
Labels: data-submission

#635 Score forecasts relative to baseline
  code/baseline/create-baseline.R
  code/evaluation/score_models.r
  code/reports/rmdchunks/ranking-table.Rmd
  data-processed/EuroCOVIDhub-baseline/2021-03-08-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-03-15-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-03-22-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-03-29-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-04-05-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-04-12-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-04-19-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-04-26-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-05-03-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-05-10-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-05-17-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-05-24-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-05-31-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-06-07-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-06-14-EuroCOVIDhub-baseline.csv
  data-processed/EuroCOVIDhub-baseline/2021-06-21-EuroCOVIDhub-baseline.csv
  evaluation/evaluation-2021-04-05.csv
  evaluation/evaluation-2021-04-12.csv
  evaluation/evaluation-2021-04-19.csv
  evaluation/evaluation-2021-04-26.csv
  evaluation/evaluation-2021-05-03.csv
  evaluation/evaluation-2021-05-10.csv
  evaluation/evaluation-2021-05-17.csv
  evaluation/evaluation-2021-05-24.csv
  evaluation/evaluation-2021-05-31.csv
  evaluation/evaluation-2021-06-07.csv
  evaluation/evaluation-2021-06-14.csv
  evaluation/evaluation-2021-06-21.csv
  evaluation/evaluation-2021-06-28.csv
  evaluation/evaluation-2021-07-05.csv
  evaluation/evaluation-2021-07-12.csv
Labels: data-submission, other-files-updated

#679 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-07-18-USC-SIkJalpha.csv
Labels: data-submission

#680 2021-07-19 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-07-19-SDSC_ISG-TrendModel.csv
Labels: data-submission

#681 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2021-07-19-MUNI_DMS-SEIAR.csv
  data-processed/MUNI_DMS-SEIAR/metadata-MUNI_DMS-SEIAR.txt
Labels: data-submission, metadata-change

#684 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-07-19-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#685 adds forecast week 29
  data-processed/itwm-dSEIR/2021-07-19-itwm-dSEIR.csv
Labels: data-submission

#686 2021-07-19 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-07-19-USyd-OneModelMan.csv
Labels: data-submission

#687 ILM-EKF forecast for 2021-07-19
  data-processed/ILM-EKF/2021-07-19-ILM-EKF.csv
Labels: data-submission

#689 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-07-19-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#690 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-07-19-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-07-19-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-07-19-Imperial-sbkp.csv
Labels: data-submission

#691 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-07-18-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#692 Create 2021-07-19-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-07-19-UB-BSLCoV.csv
Labels: data-submission

#693 2021-07-19-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-19-RobertWalraven-ESG.csv
Labels: data-submission

#695 2021-07-19-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-07-19-IEM_Health-CovidProject.csv
Labels: data-submission

#696 2021-07-19 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-07-19-epiMOX-SUIHTER.csv
Labels: data-submission

#697 2021-07-19-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-07-19-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#698 Upload 2021-07-18 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-18-Karlen-pypm.csv
Labels: data-submission

#700 Forecast week 29
  data-processed/UNED-PreCoV2/2021-07-19-UNED-PreCoV2.csv
Labels: data-submission

#701 2021-07-19 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-07-19-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-19-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-19-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-07-19-epiforecasts-EpiNow2.csv
Labels: data-submission

#702 2021-07-19 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-19-MUNI-ARIMA.csv
Labels: data-submission

#703 Predictions 19/07/2021
  data-processed/BIOCOMSC-Gompertz/2021-07-19-BIOCOMSC-Gompertz.csv
Labels: data-submission

#704 2021-07-19-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-07-19-UVA-Ensemble.csv
Labels: data-submission

#705 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-07-19-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-19-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-07-19-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-07-19-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-19-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-07-19-MOCOS-agent1.csv
Labels: data-submission

#711 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-07-25-USC-SIkJalpha.csv
Labels: data-submission

#712 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-07-26-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#713 2021-07-26-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-07-26-RobertWalraven-ESG.csv
Labels: data-submission

#714 adds forecast week 30
  data-processed/itwm-dSEIR/2021-07-26-itwm-dSEIR.csv
Labels: data-submission, other-files-updated

#715 2021-07-26 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-07-26-SDSC_ISG-TrendModel.csv
Labels: data-submission

#716 Create 2021-07-26-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-07-26-UB-BSLCoV.csv
Labels: data-submission

#717 2021-07-26 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-07-26-USyd-OneModelMan.csv
Labels: data-submission

#718 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-07-25-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#719 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-07-26-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-07-26-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-07-26-Imperial-sbkp.csv
Labels: data-submission

#720 2021-07-26 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-07-26-MUNI-ARIMA.csv
Labels: data-submission

#721 Submission 2021-07-26
  data-processed/MUNI_DMS-SEIAR/2021-07-26-MUNI_DMS-SEIAR.csv
  data-processed/MUNI_DMS-SEIAR/metadata-MUNI_DMS-SEIAR.txt
Labels: data-submission, metadata-change

#722 Upload 2021-07-25 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-07-25-Karlen-pypm.csv
Labels: data-submission

#723 2021-07-26-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-07-26-IEM_Health-CovidProject.csv
Labels: data-submission

#724 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-07-26-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#725 2021-07-25 MB
  data-processed/UMass-MechBayes/2021-07-25-UMass-MechBayes.csv
Labels: data-submission

#726 2021-07-26 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-07-26-epiMOX-SUIHTER.csv
Labels: data-submission

#727 Predictions 26-07-2021
  data-processed/BIOCOMSC-Gompertz/2021-07-26-BIOCOMSC-Gompertz.csv
Labels: data-submission

#728 2021-07-26-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-07-26-UVA-Ensemble.csv
Labels: data-submission

#729 2021-07-26-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-07-26-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#730 2021-07-26 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-07-26-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-07-26-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-07-26-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-07-26-epiforecasts-EpiNow2.csv
Labels: data-submission

#731 ILM-EKF forecast for 2021-07-26
  data-processed/ILM-EKF/2021-07-26-ILM-EKF.csv
Labels: data-submission

#732 Forecasts for this week
  data-processed/UNED-PreCoV2/2021-07-26-UNED-PreCoV2.csv
Labels: data-submission

#733 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-07-26-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-07-26-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-07-26-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-07-26-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-07-25-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-07-26-MOCOS-agent1.csv
Labels: data-submission
