Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-09, with the labels that each got.

#874 small tweaks to ensemble metadata
  data-processed/EuroCOVIDhub-ensemble/metadata-EuroCOVIDhub-ensemble.txt
Labels: metadata-change

#875 5.9.2021
  data-processed/UpgUmibUsi-MultiBayes/2021-09-05-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#877 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-09-05-USC-SIkJalpha.csv
Labels: data-submission

#878 Create 2021-09-06-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-09-06-UB-BSLCoV.csv
Labels: data-submission

#879 Upload 2021-09-05 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-05-Karlen-pypm.csv
Labels: data-submission

#880 2021-09-06 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-09-06-SDSC_ISG-TrendModel.csv
Labels: data-submission

#881 Submission 2021-09-06
  data-processed/MUNI_DMS-SEIAR/2021-09-06-MUNI_DMS-SEIAR.csv
Labels: data-submission

#882 adds forecast ITWM
  data-processed/itwm-dSEIR/2021-09-06-itwm-dSEIR.csv
Labels: data-submission

#883 2021-09-06 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-09-06-USyd-OneModelMan.csv
Labels: data-submission

#884 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-06-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#885 2021-09-06-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-09-06-IEM_Health-CovidProject.csv
Labels: data-submission

#886 ILM-EKF forecast for 2021-09-06
  data-processed/ILM-EKF/2021-09-06-ILM-EKF.csv
Labels: data-submission

#887 2021-09-05-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-05-UMass-MechBayes.csv
Labels: data-submission

#888 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-09-06-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-06-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-06-Imperial-sbkp.csv
Labels: data-submission

#889 Forecast week 06-09
  data-processed/UNED-PreCoV2/2021-09-06-UNED-PreCoV2.csv
Labels: data-submission

#890 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-09-06-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#891 2021-09-06 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-06-MUNI-ARIMA.csv
Labels: data-submission

#892 2021-09-06-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-06-RobertWalraven-ESG.csv
Labels: data-submission

#894 2021-09-06 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-09-06-epiMOX-SUIHTER.csv
Labels: data-submission

#895 2021-09-06-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-09-06-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#896 2021-09-06-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-09-06-UVA-Ensemble.csv
Labels: data-submission

#897 2021-09-06 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert_direct/2021-09-06-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-09-06-epiforecasts-EpiNow2.csv
Labels: data-submission

#898 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-09-06-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-06-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-09-06-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-09-06-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-06-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-09-06-MOCOS-agent1.csv
Labels: data-submission

#902 Update metadata-itwm-dSEIR.txt
  data-processed/itwm-dSEIR/metadata-itwm-dSEIR.txt
Labels: metadata-change

#907 12.9.2021
  data-processed/UpgUmibUsi-MultiBayes/2021-09-12-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#908 USC_SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-09-12-USC-SIkJalpha.csv
Labels: data-submission

#910 2021-09-13-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-13-RobertWalraven-ESG.csv
Labels: data-submission

#912 2021-09-13 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-09-13-SDSC_ISG-TrendModel.csv
Labels: data-submission

#913 Submission 13/9/2021
  data-processed/MUNI_DMS-SEIAR/2021-09-13-MUNI_DMS-SEIAR.csv
Labels: data-submission

#914 Upload 2021-09-12 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-12-Karlen-pypm.csv
Labels: data-submission

#915 adds forecast itwm
  data-processed/itwm-dSEIR/2021-09-13-itwm-dSEIR.csv
Labels: data-submission

#916 2021-09-13-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-09-13-IEM_Health-CovidProject.csv
Labels: data-submission

#917 Forecast week 13-09
  data-processed/UNED-PreCoV2/2021-09-13-UNED-PreCoV2.csv
Labels: data-submission

#918 2021-09-13 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-09-13-USyd-OneModelMan.csv
Labels: data-submission

#919 2021-09-13-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-09-13-UVA-Ensemble.csv
Labels: data-submission

#920 2021-09-13-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-13-MUNI-ARIMA.csv
Labels: data-submission

#921 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-09-13-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#923 ILM-EKF forecast for 2021-09-13
  data-processed/ILM-EKF/2021-09-13-ILM-EKF.csv
Labels: data-submission

#924 2021-09-12-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-12-UMass-MechBayes.csv
Labels: data-submission

#925 2021-09-13 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-09-13-epiMOX-SUIHTER.csv
Labels: data-submission

#926 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-09-13-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-13-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-13-Imperial-sbkp.csv
Labels: data-submission

#927 2021-09-13-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-09-13-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#928 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-13-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#929 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-09-13-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-13-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-09-13-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-09-13-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-13-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-09-13-MOCOS-agent1.csv
Labels: data-submission

#911 Create 2021-09-13-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-09-13-UB-BSLCoV.csv
Labels: data-submission, metadata-change, forecast-updated, other-files-updated

#893 Predictions 2021-09-06
  data-processed/BIOCOMSC-Gompertz/2021-08-23-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-08-30-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-09-06-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2021-09-13-BIOCOMSC-Gompertz.csv
Labels: data-submission

#933 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-09-19-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#934 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-09-19-USC-SIkJalpha.csv
Labels: data-submission

#935 Upload 2021-09-19 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-19-Karlen-pypm.csv
Labels: data-submission

#936 Create 2021-09-20-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-09-20-UB-BSLCoV.csv
Labels: data-submission

#938 submission 20-09/2021
  data-processed/MUNI_DMS-SEIAR/2021-09-20-MUNI_DMS-SEIAR.csv
Labels: data-submission

#939 Adds forecast ITWM
  data-processed/itwm-dSEIR/2021-09-20-itwm-dSEIR.csv
Labels: data-submission

#940 2021-09-20 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-09-20-USyd-OneModelMan.csv
Labels: data-submission

#942 Forecast week 20-09
  data-processed/UNED-PreCoV2/2021-09-20-UNED-PreCoV2.csv
Labels: data-submission

#943 2021-09-20 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-09-20-SDSC_ISG-TrendModel.csv
Labels: data-submission

#944 2021-09-20-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-20-MUNI-ARIMA.csv
Labels: data-submission

#945 2021-09-20-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-09-20-UVA-Ensemble.csv
Labels: data-submission

#946 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-09-20-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#947 2021-09-20-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-09-20-IEM_Health-CovidProject.csv
Labels: data-submission

#948 2021-09-20-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-20-RobertWalraven-ESG.csv
Labels: data-submission

#949 2021-09-19-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-19-UMass-MechBayes.csv
Labels: data-submission

#950 2021-09-20-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-09-20-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#951 2021-09-20 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-09-20-epiMOX-SUIHTER.csv
Labels: data-submission

#952 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-09-20-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-20-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-20-Imperial-sbkp.csv
Labels: data-submission

#953 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-20-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#954 ILM-EKF forecast for 2021-09-20
  data-processed/ILM-EKF/2021-09-20-ILM-EKF.csv
Labels: data-submission

#930 2021-09-13 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert_direct/2021-09-13-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-09-13-epiforecasts-EpiNow2.csv
Labels: data-submission

#955 2021-09-20 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert_direct/2021-09-20-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-09-20-epiforecasts-EpiNow2.csv
Labels: data-submission

#956 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-09-20-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-20-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-09-20-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-09-20-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-20-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-09-20-MOCOS-agent1.csv
Labels: data-submission

#959 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-09-26-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#960 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2021-09-26-USC-SIkJalpha.csv
Labels: data-submission

#961 Upload 2021-09-26 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2021-09-26-Karlen-pypm.csv
Labels: data-submission

#962 2021-09-27 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-09-27-SDSC_ISG-TrendModel.csv
Labels: data-submission

#964 adds forecast ITWM week 40
  data-processed/itwm-dSEIR/2021-09-27-itwm-dSEIR.csv
Labels: data-submission

#965 Predictions 27-09-2021
  data-processed/BIOCOMSC-Gompertz/2021-09-27-BIOCOMSC-Gompertz.csv
Labels: data-submission

#966 2021-09-27 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-09-27-USyd-OneModelMan.csv
Labels: data-submission

#967 Forecast week 27-09
  data-processed/UNED-PreCoV2/2021-09-27-UNED-PreCoV2.csv
Labels: data-submission

#968 ILM-EKF forecast for 2021-09-27
  data-processed/ILM-EKF/2021-09-27-ILM-EKF.csv
Labels: data-submission

#969 2021-09-26-UMass-MechBayes
  data-processed/UMass-MechBayes/2021-09-26-UMass-MechBayes.csv
Labels: data-submission

#970 2021-09-27-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-09-27-MUNI-ARIMA.csv
Labels: data-submission

#972 2021-09-27-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-09-27-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#973 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-09-27-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-09-27-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-09-27-Imperial-sbkp.csv
Labels: data-submission

#974 2021-09-27-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-09-27-IEM_Health-CovidProject.csv
Labels: data-submission

#975 2021-09-27-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-09-27-RobertWalraven-ESG.csv
Labels: data-submission

#976 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2021-09-27-MUNI_DMS-SEIAR.csv
Labels: data-submission

#977 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-09-27-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#978 2021-09-27 epiMOX_SUIHTER
  data-processed/epiMOX-SUIHTER/2021-09-27-epiMOX-SUIHTER.csv
Labels: data-submission

#979 2021-09-27-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-09-27-UVA-Ensemble.csv
Labels: data-submission

#980 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2021-09-27-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2021-09-27-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-09-27-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-09-27-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-09-27-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-09-27-MOCOS-agent1.csv
Labels: data-submission

#981 2021-09-27 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-09-27-epiforecasts-EpiNow2.csv
Labels: data-submission
