Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-03, with the labels that each got.

#134 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-03-21-USC-SIkJalpha.csv
Labels: data-submission

#135 ILM-EKF forecast for 2021-03-22
  data-processed/ILM-EKF/2021-03-22-ILM-EKF.csv
Labels: data-submission

#136 2021-03-22 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-03-22-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#137 Adding this weeK forecasts
  data-processed/UNED-PreCoV2/2021-03-22-UNED-PreCoV2.csv
Labels: data-submission

#138 Latest forecasts from Imperial (Week starting 22nd March)
  data-processed/Imperial-DeCa/2021-03-22-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-03-22-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-03-22-Imperial-sbkp.csv
Labels: data-submission

#140 Submission 22/3/2021
  data-processed/MUNI_DMS-SEIAR/2021-03-22-MUNI_DMS-SEIAR.csv
Labels: data-submission

#141 2021-03-22 | Priesemann-bayes
  data-processed/Priesemann-bayes/2021-03-22-Priesemann-bayes.csv
Labels: data-submission

#142 2021-03-22-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-03-22-IEM_Health-CovidProject.csv
Labels: data-submission

#139 2021-03-22-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-03-22-RobertWalraven-ESG.csv
Labels: data-submission

#146 2021-03-22 UpgUmibUsi-MultiBayes
  data-processed/UpgUmibUsi-MultiBayes/2021-03-22-UpgUmibUsi-MultiBayes.csv
  data-processed/UpgUmibUsi-MultiBayes/metadata-UpgUmibUsi-MultiBayes.txt
Labels: data-submission, metadata-change

#143 2021-03-22 HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-03-22-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#148 2021-03-22-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-03-22-UVA-Ensemble.csv
Labels: data-submission

#149 Adding files form DE/PL Hub
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-22-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-03-22-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-03-22-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-03-21-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-22-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-03-22-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-03-22-itwm-dSEIR.csv
Labels: data-submission

#153 2021-03-22 - EpiForecast EpiExpert submission
  data-processed/epiforecasts-EpiExpert/2021-03-22-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiNow2/2021-03-22-epiforecasts-EpiNow2.csv
Labels: data-submission

#154 fix line breaks in UpgUmibUsi-MultiBayes model
  data-processed/UpgUmibUsi-MultiBayes/2021-03-22-UpgUmibUsi-MultiBayes.csv
Labels: data-submission, forecast-updated

#156 Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-03-22-MIMUW-StochSEIR.csv
Labels: data-submission

#163 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-03-28-USC-SIkJalpha.csv
Labels: data-submission

#165 2021-03-29 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-03-29-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#167 ILM-EKF forecast for 2021-03-29
  data-processed/ILM-EKF/2021-03-29-ILM-EKF.csv
Labels: data-submission

#172 2021-03-29-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-03-29-IEM_Health-CovidProject.csv
Labels: data-submission

#173 Forecasts for this week. Now with quantiles!
  data-processed/UNED-PreCoV2/2021-03-29-UNED-PreCoV2.csv
Labels: data-submission

#175 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-03-29-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-03-29-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-03-29-Imperial-sbkp.csv
Labels: data-submission

#177 2021-03-29-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-03-29-RobertWalraven-ESG.csv
Labels: data-submission

#178 2021-03-29 | Priesemann-bayes
  data-processed/Priesemann-bayes/2021-03-29-Priesemann-bayes.csv
Labels: data-submission, forecast-updated

#176 Second submission
  data-processed/UpgUmibUsi-MultiBayes/2021-03-28-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#164 2021-03-29 - SDSC_ISG-TrendModel - First submission
  data-processed/SDSC_ISG-TrendModel/2021-03-29-SDSC_ISG-TrendModel.csv
  data-processed/SDSC_ISG-TrendModel/metadata-SDSC_ISG-TrendModel.txt
Labels: data-submission, metadata-change

#166 2021-03-29 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-03-29-USyd-OneModelMan.csv
  data-processed/USyd-OneModelMan/metadata-USyd-OneModelMan.txt
Labels: data-submission, metadata-change

#174 bisop 2021-03-29 v5
  data-processed/bisop-seirfilter/2021-03-29-bisop-seirfilter.csv
  data-processed/bisop-seirfilter/metadata-bisop-seirfilter.txt
Labels: data-submission, metadata-change

#179 bisop 2021-03-29 v6
  data-processed/bisop-seirfilter/2021-03-29-bisop-seirfilter.csv
Labels: data-submission, forecast-updated

#181 2021-03-29-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-03-29-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#180 Latest predictions form MIMUW
  data-processed/MIMUW-StochSEIR/2021-03-29-MIMUW-StochSEIR.csv
Labels: data-submission

#183 2021-03-29 - EpiForecast EpiExpert submission
  data-processed/epiforecasts-EpiExpert/2021-03-29-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiNow2/2021-03-29-epiforecasts-EpiNow2.csv
Labels: data-submission

#184 2021-03-29 UVA ensemble
  data-processed/UVA-Ensemble/2021-03-29-UVA-Ensemble.csv
Labels: data-submission

#182 2021-03-28 MB/SemiMech
  data-processed/UMass-MechBayes/2021-03-28-UMass-MechBayes.csv
  data-processed/UMass-MechBayes/metadata-UMass-MechBayes.txt
  data-processed/UMass-SemiMech/2021-03-28-UMass-SemiMech.csv
  data-processed/UMass-SemiMech/metadata-UMass-SemiMech.txt
Labels: data-submission, metadata-change

#186 Adding DE/PL forecasts, second attempt
  data-processed/FIAS_FZJ-Epi1Ger/2021-03-29-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-03-29-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-03-29-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-03-28-Karlen-pypm.csv
  data-processed/LeipzigIMISE-SECIR/2021-03-29-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/metadata-LeipzigIMISE-SECIR.txt
  data-processed/MIMUW-StochSEIR/2021-03-29-MIMUW-StochSEIR.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-03-29-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-03-29-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-03-29-itwm-dSEIR.csv
Labels: data-submission, forecast-updated, metadata-change, other-files-updated
