Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-04, with the labels that each got.

#189 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-04-USC-SIkJalpha.csv
Labels: data-submission

#190 2021-04-05 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-04-05-SDSC_ISG-TrendModel.csv
Labels: data-submission

#191 2021-04-05 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-04-05-USyd-OneModelMan.csv
Labels: data-submission

#192 ILM-EKF forecast for 2021-04-05
  data-processed/ILM-EKF/2021-04-05-ILM-EKF.csv
Labels: data-submission

#193 2021-04-05-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-04-05-IEM_Health-CovidProject.csv
Labels: data-submission

#194 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-04-04-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#195 2021-04-05-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-05-RobertWalraven-ESG.csv
Labels: data-submission

#196 Latest predictions MIMUW
  data-processed/MIMUW-StochSEIR/2021-04-05-MIMUW-StochSEIR.csv
Labels: data-submission

#197 Forecast 2021-04-05 | Priesemann
  data-processed/Priesemann-bayes/2021-04-05-Priesemann-bayes.csv
Labels: data-submission

#198 2021-04-04 SM
  data-processed/UMass-MechBayes/2021-04-04-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-04-UMass-SemiMech.csv
Labels: data-submission

#199 2021-04-05 UVA-Ensemble
  data-processed/UVA-Ensemble/2021-04-05-UVA-Ensemble.csv
Labels: data-submission

#200 Fifth submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-04-05-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#203 Uploading this week's predictions.
  data-processed/UNED-PreCoV2/2021-04-05-UNED-PreCoV2.csv
Labels: data-submission

#204 Submission on 6/4/2021
  data-processed/MUNI_DMS-SEIAR/2021-04-05-MUNI_DMS-SEIAR.csv
  data-processed/MUNI_DMS-SEIAR/metadata-MUNI_DMS-SEIAR.txt
Labels: data-submission, metadata-change

#206 2021-04-05-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-04-05-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#208 Forecast Germany Model LEipzigIMISE-SECIR 21-04-06
  data-processed/LeipzigIMISE-SECIR/2021-04-05-LeipzigIMISE-SECIR.csv
Labels: data-submission

#209 Submission2
  data-processed/epiforecasts-EpiExpert/2021-04-05-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiNow2/2021-04-05-epiforecasts-EpiNow2.csv
Labels: data-submission

#202 Adding files submitted via DE/PL platform.
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-05-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-04-05-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-04-05-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-04-04-Karlen-pypm.csv
  data-processed/MIMUW-StochSEIR/2021-04-05-MIMUW-StochSEIR.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-05-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-04-05-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-04-05-itwm-dSEIR.csv
Labels: data-submission, forecast-updated

#210 bisop seirfilter + seirfilter lite (v2)
  data-processed/bisop-seirfilter/2021-04-05-bisop-seirfilter.csv
  data-processed/bisop-seirfilterlite/2021-04-05-bisop-seirfilterlite.csv
  data-processed/bisop-seirfilterlite/metadata-bisop-seirfilterlite.txt
Labels: data-submission, metadata-change

#212 Mean ensemble 2021-04-05
  data-processed/EuroCOVIDhub-ensemble/2021-04-05-EuroCOVIDhub-ensemble.csv
Labels: data-submission

#214 bisop seirfilter + seirfilter lite v3
  data-processed/bisop-seirfilterlite/2021-04-05-bisop-seirfilterlite.csv
  data-processed/bisop-seirfilterlite/metadata-bisop-seirfilterlite.txt
Labels: data-submission, forecast-updated, metadata-change

#231 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-11-USC-SIkJalpha.csv
Labels: data-submission

#232 2021-04-12 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-04-12-SDSC_ISG-TrendModel.csv
Labels: data-submission

#233 Forecast for this week
  data-processed/UNED-PreCoV2/2021-04-12-UNED-PreCoV2.csv
Labels: data-submission

#234 ILM-EKF forecast for 2021-04-12
  data-processed/ILM-EKF/2021-04-12-ILM-EKF.csv
Labels: data-submission

#235 2021-04-12 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-04-12-USyd-OneModelMan.csv
Labels: data-submission

#236 [12.04] Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-04-12-MIMUW-StochSEIR.csv
Labels: data-submission

#237 Submission 12/04/2021
  data-processed/MUNI_DMS-SEIAR/2021-04-12-MUNI_DMS-SEIAR.csv
Labels: data-submission

#239 2021-04-12 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-04-12-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#240 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-04-12-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-04-12-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-04-12-Imperial-sbkp.csv
Labels: data-submission

#241 2021-04-12-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-12-RobertWalraven-ESG.csv
Labels: data-submission

#242 bisop seirfilterlite (main model experiencing problems, maybe later)
  data-processed/bisop-seirfilter/2021-04-12-bisop-seirfilter.csv
  data-processed/bisop-seirfilterlite/2021-04-12-bisop-seirfilterlite.csv
Labels: data-submission

#243 2021-04-12-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-04-12-IEM_Health-CovidProject.csv
Labels: data-submission

#244 2021-04-11 MB + SM
  data-processed/UMass-MechBayes/2021-04-11-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-11-UMass-SemiMech.csv
Labels: data-submission

#245 Forecast Germany Model LEipzigIMISE-SECIR
  data-processed/LeipzigIMISE-SECIR/2021-04-12-LeipzigIMISE-SECIR.csv
  data-processed/LeipzigIMISE-SECIR/metadata-LeipzigIMISE-SECIR.txt
Labels: data-submission, metadata-change

#246 Forecast 2021-04-12 | Priesemann
  data-processed/Priesemann-bayes/2021-04-12-Priesemann-bayes.csv
Labels: data-submission

#249 2021-04-12-UVA-Ensemble.csv
  data-processed/UVA-Ensemble/2021-04-12-UVA-Ensemble.csv
Labels: data-submission

#250 2021-04-12 - EpiForecast EpiExpert submission
  data-processed/epiforecasts-EpiExpert/2021-04-12-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiNow2/2021-04-12-epiforecasts-EpiNow2.csv
Labels: data-submission

#251 2021-04-12-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-04-12-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#252 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-04-11-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#253 Adding forecasts submitted via DE/PL platform.
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-12-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-04-12-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-04-12-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-04-11-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-12-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-04-12-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-04-12-itwm-dSEIR.csv
Labels: data-submission

#258 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-18-USC-SIkJalpha.csv
Labels: data-submission

#260 2021-04-19 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-04-19-SDSC_ISG-TrendModel.csv
Labels: data-submission

#261 2021-04-19 - USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-04-19-USyd-OneModelMan.csv
Labels: data-submission

#262 ILM-EKF forecast for 2021-04-19
  data-processed/ILM-EKF/2021-04-19-ILM-EKF.csv
Labels: data-submission

#263 Submission on 19/04/2021
  data-processed/MUNI_DMS-SEIAR/2021-04-19-MUNI_DMS-SEIAR.csv
Labels: data-submission

#266 2021-04-19-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-04-19-IEM_Health-CovidProject.csv
Labels: data-submission

#267 Forecasts for this week.
  data-processed/UNED-PreCoV2/2021-04-19-UNED-PreCoV2.csv
Labels: data-submission

#269 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-04-19-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-04-19-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-04-19-Imperial-sbkp.csv
Labels: data-submission

#270 2021-04-19-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-19-RobertWalraven-ESG.csv
Labels: data-submission

#271 2021-04-19 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-04-19-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#274 18-4 UnipgUmibUsi
  data-processed/UpgUmibUsi-MultiBayes/2021-04-18-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#275 Forecast 2021-04-19 | Priesemann
  data-processed/Priesemann-bayes/2021-04-19-Priesemann-bayes.csv
Labels: data-submission

#276 bislop seirfilter + seirfilter lite
  data-processed/bisop-seirfilter/2021-04-19-bisop-seirfilter.csv
  data-processed/bisop-seirfilterlite/2021-04-19-bisop-seirfilterlite.csv
  data-processed/bisop-seirfilterlite/metadata-bisop-seirfilterlite.txt
Labels: data-submission, metadata-change

#272 2021-04-18 MB
  data-processed/UMass-MechBayes/2021-04-18-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-18-UMass-SemiMech.csv
Labels: data-submission

#278 2021-04-19-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-04-19-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#279 Forecast Germany Model LEipzigIMISE-SECIR
  data-processed/LeipzigIMISE-SECIR/2021-04-19-LeipzigIMISE-SECIR.csv
Labels: data-submission

#282 2021-04-19-UVA-Ensemble
  2021-04-19-UVA-Ensemble.csv
  data-processed/UVA-Ensemble/2021-04-19-UVA-Ensemble.csv
Labels: data-submission, other-files-updated

#283 Adding forecasts form DE/PL Hub.
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-19-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-04-19-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-04-19-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-04-18-Karlen-pypm.csv
  data-processed/MIMUW-StochSEIR/2021-04-19-MIMUW-StochSEIR.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-19-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-04-19-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-04-19-itwm-dSEIR.csv
Labels: data-submission

#281 2021-04-19 - EpiForecast EpiExpert submission
  data-processed/epiforecasts-EpiExpert/2021-04-19-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-04-19-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_Rt/metadata-epiforecasts-EpiExpert_Rt.txt
  data-processed/epiforecasts-EpiNow2/2021-04-19-epiforecasts-EpiNow2.csv
Labels: data-submission, metadata-change, other-files-updated

#284 Matadata for seirfilterlite
  data-processed/bisop-seirfilter/metadata-bisop-seirfilterlite.txt
  data-processed/bisop-seirfilterlite/metadata-bisop-seirfilterlite.txt
Labels: metadata-change

#286 2021-04-26 PL_GrzegorzRedlarski DistritsSum, first submission
  data-processed/PL_GRedlarski-DistrictsSum/2021-04-26-PL_GRedlarski-DistrictsSum.csv
  data-processed/PL_GRedlarski-DistrictsSum/metadata-PL_GRedlarski-DistrictsSum.txt
Labels: data-submission, metadata-change, other-files-updated

#287 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-04-25-USC-SIkJalpha.csv
Labels: data-submission

#288 2021-04-26 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-04-26-USyd-OneModelMan.csv
Labels: data-submission

#289 2021-04-26 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-04-26-SDSC_ISG-TrendModel.csv
Labels: data-submission

#290 ILM-EKF forecast for 2021-04-26
  data-processed/ILM-EKF/2021-04-26-ILM-EKF.csv
Labels: data-submission

#291 submission 26-04-2021
  data-processed/MUNI_DMS-SEIAR/2021-04-26-MUNI_DMS-SEIAR.csv
Labels: data-submission

#292 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-04-25-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#293 2021-04-26 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-04-26-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#295 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-04-26-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-04-26-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-04-26-Imperial-sbkp.csv
Labels: data-submission

#296 Forecasts for this week
  data-processed/UNED-PreCoV2/2021-04-26-UNED-PreCoV2.csv
Labels: data-submission

#298 updates ICM model metadata
  data-processed/ICM-agentModel/metadata-ICM-agentModel.txt
Labels: metadata-change

#299 2021-04-26-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-04-26-IEM_Health-CovidProject.csv
Labels: data-submission

#302 2021-04-26 BIOCOM-SC_Gomp
  data-processed/BIOCOMSC-Gompertz/2021-04-26-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/metadata-BIOCOMSC-Gompertz.txt
Labels: data-submission, metadata-change

#303 2021-04-26-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-04-26-RobertWalraven-ESG.csv
Labels: data-submission

#305 2021-04-25 MB/SM
  data-processed/UMass-MechBayes/2021-04-25-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-04-25-UMass-SemiMech.csv
Labels: data-submission

#306 bisop seirfilter
  data-processed/bisop-seirfilter/2021-04-26-bisop-seirfilter.csv
Labels: data-submission

#307 Forecast 2021-04-26 | Priesemann
  data-processed/Priesemann-bayes/2021-04-26-Priesemann-bayes.csv
Labels: data-submission

#308 2021-04-26-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-04-26-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#309 2021-04-26-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-04-26-UVA-Ensemble.csv
Labels: data-submission

#297 2021-04-26 UB-BSLCoV
  data-processed/UB-BSLCoV/2021-04-26-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/metadata-UB-BSLCoV.txt
Labels: data-submission, metadata-change, other-files-updated

#312 2021-04-26 - EpiForecast EpiNow2 submission
  data-processed/epiforecasts-EpiNow2/2021-04-26-epiforecasts-EpiNow2.csv
Labels: data-submission

#311 Add De/Pl forecasts
  data-processed/FIAS_FZJ-Epi1Ger/2021-04-26-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-04-26-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-04-26-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-04-25-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-04-25-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-04-26-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-04-26-itwm-dSEIR.csv
Labels: data-submission

#316 Update metadata-epiforecasts-EpiExpert_direct.txt
  data-processed/epiforecasts-EpiExpert_direct/metadata-epiforecasts-EpiExpert_direct.txt
Labels: metadata-change

#315 Update metadata-epiforecasts-EpiExpert_Rt.txt
  data-processed/epiforecasts-EpiExpert_Rt/metadata-epiforecasts-EpiExpert_Rt.txt
Labels: metadata-change
