Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2021-05, with the labels that each got.

#314 2021-04-26 - MIMUW submission
  data-processed/MIMUW-StochSEIR/2021-04-26-MIMUW-StochSEIR.csv
  data-processed/MIMUW-StochSEIR/2021-05-03-MIMUW-StochSEIR.csv
Labels: data-submission

#317 USC-SI_kJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-05-02-USC-SIkJalpha.csv
Labels: data-submission

#318 2021-05-03 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-05-03-SDSC_ISG-TrendModel.csv
Labels: data-submission

#319 ILM-EKF forecast for 2021-05-03
  data-processed/ILM-EKF/2021-05-03-ILM-EKF.csv
Labels: data-submission

#320 2021-05-03 UB-CoV
  data-processed/UB-BSLCoV/2021-05-03-UB-BSLCoV.csv
Labels: data-submission

#321 Forecasts for PreCoV2 model
  data-processed/UNED-PreCoV2/2021-05-03-UNED-PreCoV2.csv
Labels: data-submission

#322 2021-05-03 USyd-OneModelMan Forecasts
  data-processed/USyd-OneModelMan/2021-05-03-USyd-OneModelMan.csv
Labels: data-submission, other-files-updated

#323 2021-05-03-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-05-03-IEM_Health-CovidProject.csv
Labels: data-submission

#324 2021-05-03-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-05-03-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#325 2021-05-03 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-05-03-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#326 Add files via upload
  data-processed/BIOCOMSC-Gompertz/2021-05-03-BIOCOMSC-Gompertz.csv
Labels: data-submission

#328 2021-05-03-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-03-RobertWalraven-ESG.csv
Labels: data-submission

#329 submission 3/5/2021
  data-processed/MUNI_DMS-SEIAR/2021-05-03-MUNI_DMS-SEIAR.csv
Labels: data-submission

#330 2021-05-03-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-05-03-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#331 2021-05-03 SM
  data-processed/UMass-MechBayes/2021-05-02-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-05-02-UMass-SemiMech.csv
Labels: data-submission

#332 2021-05-03 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-05-03-epiMOX-SUIHTER.csv
  data-processed/epiMOX-SUIHTER/metadata-epiMOX-SUIHTER.txt
Labels: data-submission, metadata-change

#333 bisop seirfilter
  data-processed/bisop-seirfilter/2021-05-03-bisop-seirfilter.csv
Labels: data-submission

#334 Forecast 2021-05-03 | Priesemann
  data-processed/Priesemann-bayes/2021-05-03-Priesemann-bayes.csv
Labels: data-submission

#335 2021-05-03 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-05-03-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_Rt/2021-05-03-epiforecasts-EpiExpert_Rt.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-05-03-epiforecasts-EpiExpert_direct.csv
Labels: data-submission

#338 2 maggio
  data-processed/UpgUmibUsi-MultiBayes/2021-05-02-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#339 2021-05-03-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-05-03-UVA-Ensemble.csv
Labels: data-submission

#340 Adding forecasts submitted via DE/PL platform
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-03-FIAS_FZJ-Epi1Ger.csv
  data-processed/ITWW-county_repro/2021-05-03-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-05-02-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-03-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-05-03-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-05-03-itwm-dSEIR.csv
Labels: data-submission

#336 2021-05-03 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-03-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/metadata-MUNI-ARIMA.txt
Labels: data-submission, metadata-change

#341 2021-05-03 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-05-03-epiforecasts-EpiNow2.csv
Labels: data-submission

#343 Remove faulty forecast
  data-processed/epiforecasts-EpiExpert_direct/2021-05-03-epiforecasts-EpiExpert_direct.csv
Labels: data-submission, forecast-updated

#342 Remove faulty forecast for Slovenia
  data-processed/epiforecasts-EpiExpert/2021-05-03-epiforecasts-EpiExpert.csv
Labels: data-submission, forecast-updated

#345 2021-05-10 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-05-10-SDSC_ISG-TrendModel.csv
Labels: data-submission

#346 2021-05-10 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-05-10-USyd-OneModelMan.csv
Labels: data-submission

#349 ILM-EKF forecast for 2021-05-10
  data-processed/ILM-EKF/2021-05-10-ILM-EKF.csv
Labels: data-submission

#350 Forecasts for this week
  data-processed/UNED-PreCoV2/2021-05-10-UNED-PreCoV2.csv
Labels: data-submission

#351 2021-05-10 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-05-10-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#355 2021-05-10-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-05-10-IEM_Health-CovidProject.csv
Labels: data-submission

#357 2021-05-10-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-05-10-UVA-Ensemble.csv
Labels: data-submission

#358 2021-05-10-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-05-10-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#359 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-05-09-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#363 2021-05-10 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-10-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/metadata-MUNI-ARIMA.txt
Labels: data-submission, metadata-change

#365 Forecast 2021-05-10 | Priesemann
  data-processed/Priesemann-bayes/2021-05-10-Priesemann-bayes.csv
Labels: data-submission

#368 Add De/Pl forecasts
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-10-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-05-10-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-05-10-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-05-09-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-09-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-05-10-MOCOS-agent1.csv
Labels: data-submission

#369 Adding itwm
  data-processed/itwm-dSEIR/2021-05-10-itwm-dSEIR.csv
Labels: data-submission

#372 USC_SIkJalpha: Weekly Update
  data-processed/USC-SIkJalpha/2021-05-16-USC-SIkJalpha.csv
Labels: data-submission

#373 [17/05] Latest predictions from MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-17-MIMUW-StochSEIR.csv
Labels: data-submission

#374 Create 2021-05-17-UB-BSLCoV.csv
  data-processed/UB-BSLCoV/2021-05-17-UB-BSLCoV.csv
Labels: data-submission

#375 2021-05-17 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-05-17-SDSC_ISG-TrendModel.csv
Labels: data-submission

#376 ILM-EKF forecast for 2021-05-17
  data-processed/ILM-EKF/2021-05-17-ILM-EKF.csv
Labels: data-submission

#377 2021-05-10-PL_GRedlarski-DistrictsSum
  data-processed/PL_GRedlarski-DistrictsSum/2021-05-17-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#378 2021-05-17 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-05-17-USyd-OneModelMan.csv
Labels: data-submission

#379 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-05-17-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-05-17-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-05-17-Imperial-sbkp.csv
Labels: data-submission

#380 2021-05-17-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-05-17-IEM_Health-CovidProject.csv
Labels: data-submission

#382 Submission UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-05-17-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#383 Submission 17/5/2021
  data-processed/MUNI_DMS-SEIAR/2021-05-17-MUNI_DMS-SEIAR.csv
Labels: data-submission

#385 2021-05-17 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-17-MUNI-ARIMA.csv
  data-processed/MUNI-ARIMA/metadata-MUNI-ARIMA.txt
Labels: data-submission, metadata-change

#386 Predictions_20210517
  data-processed/BIOCOMSC-Gompertz/2021-05-17-BIOCOMSC-Gompertz.csv
Labels: data-submission

#387 2021-05-17 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-05-17-epiMOX-SUIHTER.csv
Labels: data-submission

#389 Forecast 2021-05-17 | Priesemann
  data-processed/Priesemann-bayes/2021-05-17-Priesemann-bayes.csv
Labels: data-submission

#390 2021-05-17-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-05-17-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#391 bisop seirfilter v2
  data-processed/bisop-seirfilter/2021-05-17-bisop-seirfilter.csv
Labels: data-submission

#392 2021-05-16 MB/SM
  data-processed/UMass-MechBayes/2021-05-16-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-05-16-UMass-SemiMech.csv
Labels: data-submission

#393 2021-05-17 - EpiForecast submission
  data-processed/epiforecasts-EpiExpert/2021-05-17-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-05-17-epiforecasts-EpiExpert_direct.csv
  data-processed/epiforecasts-EpiNow2/2021-05-17-epiforecasts-EpiNow2.csv
Labels: data-submission

#394 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-05-16-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#395 2021-05-17-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-05-17-UVA-Ensemble.csv
Labels: data-submission

#384 2021-05-17-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-17-RobertWalraven-ESG.csv
Labels: data-submission

#381 Forecasts for this week
  data-processed/UNED-PreCoV2/2021-05-17-UNED-PreCoV2.csv
Labels: data-submission

#396 Adding forecasts submitted via DE/PL platform
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-17-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2021-05-17-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2021-05-17-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-05-16-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-17-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-05-17-MOCOS-agent1.csv
  data-processed/itwm-dSEIR/2021-05-17-itwm-dSEIR.csv
Labels: data-submission

#400 remove death forecast that accidentally duplicated the case forecast
  data-processed/epiforecasts-EpiExpert/2021-05-10-epiforecasts-EpiExpert.csv
  data-processed/epiforecasts-EpiExpert_direct/2021-05-10-epiforecasts-EpiExpert_direct.csv
Labels: data-submission, forecast-updated

#401 rebuild ensembles
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-03.csv
  code/ensemble/EuroCOVIDhub/criteria/criteria-2021-05-10.csv
  code/ensemble/EuroCOVIDhub/method-by-date.csv
  code/ensemble/utils/run-ensemble.R
  data-processed/EuroCOVIDhub-ensemble/2021-04-05-EuroCOVIDhub-ensemble.csv
  data-processed/EuroCOVIDhub-ensemble/2021-05-10-EuroCOVIDhub-ensemble.csv
Labels: data-submission, forecast-updated, other-files-updated

#404 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2021-05-23-USC-SIkJalpha.csv
Labels: data-submission

#405 2021-05-24 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2021-05-24-SDSC_ISG-TrendModel.csv
Labels: data-submission

#406 2021-05-24 MUNI-ARIMA
  data-processed/MUNI-ARIMA/2021-05-24-MUNI-ARIMA.csv
Labels: data-submission

#407 ILM-EKF forecast for 2021-05-24
  data-processed/ILM-EKF/2021-05-24-ILM-EKF.csv
Labels: data-submission

#408 Forecast for 2021-05-24
  data-processed/UB-BSLCoV/2021-05-24-UB-BSLCoV.csv
Labels: data-submission

#409 2021-05-24 USyd-OneModelMan
  data-processed/USyd-OneModelMan/2021-05-24-USyd-OneModelMan.csv
Labels: data-submission

#411 Submission 24-05-2021
  data-processed/MUNI_DMS-SEIAR/2021-05-24-MUNI_DMS-SEIAR.csv
Labels: data-submission

#412 Adds update week 21
  data-processed/itwm-dSEIR/2021-05-24-itwm-dSEIR.csv
Labels: data-submission

#413 Forecasts for this week.
  data-processed/UNED-PreCoV2/2021-05-24-UNED-PreCoV2.csv
Labels: data-submission

#414 2021-05-24 UNIPV-BayesINGARCHX
  data-processed/UNIPV-BayesINGARCHX/2021-05-24-UNIPV-BayesINGARCHX.csv
Labels: data-submission

#415 2021-05-24-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2021-05-24-IEM_Health-CovidProject.csv
Labels: data-submission

#416 2021-05-24-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2021-05-24-RobertWalraven-ESG.csv
Labels: data-submission

#417 Predictions 24/05/2021
  data-processed/BIOCOMSC-Gompertz/2021-05-24-BIOCOMSC-Gompertz.csv
Labels: data-submission

#418 2021-05-24-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2021-05-24-epiMOX-SUIHTER.csv
Labels: data-submission

#419 2021-05-23 MB/SM
  data-processed/UMass-MechBayes/2021-05-23-UMass-MechBayes.csv
  data-processed/UMass-SemiMech/2021-05-23-UMass-SemiMech.csv
Labels: data-submission

#421 Add files via upload
  data-processed/UpgUmibUsi-MultiBayes/2021-05-23-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#422 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2021-05-24-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#424 Latest forecasts from Imperial
  data-processed/Imperial-DeCa/2021-05-24-Imperial-DeCa.csv
  data-processed/Imperial-RtI0/2021-05-24-Imperial-RtI0.csv
  data-processed/Imperial-sbkp/2021-05-24-Imperial-sbkp.csv
Labels: data-submission

#427 2021-05-24-UVA-Ensemble
  data-processed/UVA-Ensemble/2021-05-24-UVA-Ensemble.csv
Labels: data-submission

#428 Forecast 2021-05-24 | Priesemann
  data-processed/Priesemann-bayes/2021-05-24-Priesemann-bayes.csv
Labels: data-submission

#431 Add De/Pl forecasts - less submissions than usually
  data-processed/ITWW-county_repro/2021-05-24-ITWW-county_repro.csv
  data-processed/Karlen-pypm/2021-05-23-Karlen-pypm.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2021-05-24-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2021-05-24-MOCOS-agent1.csv
Labels: data-submission

#433 2021-05-24 - EpiForecast submission
  data-processed/epiforecasts-EpiNow2/2021-05-24-epiforecasts-EpiNow2.csv
Labels: data-submission

#438 correct submission
  data-processed/epiforecasts-EpiExpert_Rt/2021-05-24-epiforecasts-EpiExpert_Rt.csv
Labels: data-submission

#437 correct submission
  data-processed/epiforecasts-EpiExpert_direct/2021-05-24-epiforecasts-EpiExpert_direct.csv
Labels: data-submission

#436 Correct bug in EpiExpert submission
  data-processed/epiforecasts-EpiExpert/2021-05-24-epiforecasts-EpiExpert.csv
Labels: data-submission

#439 Adding FIAS.
  data-processed/FIAS_FZJ-Epi1Ger/2021-05-24-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#440 Late submission from MIMUW
  data-processed/MIMUW-StochSEIR/2021-05-24-MIMUW-StochSEIR.csv
Labels: data-submission

#441 2021-05-24-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2021-05-24-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#442 Update metadata-USC-SIkJalpha.txt
  data-processed/USC-SIkJalpha/metadata-USC-SIkJalpha.txt
Labels: metadata-change
