Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2022-03, with the labels that each got.

#1679 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-02-28-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-02-28-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2022-02-28-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-02-28-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-02-28-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1676 2022-02-28-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-02-28-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1674 2022-02-28-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-02-28-ULZF-SEIRC19SI.csv
Labels: data-submission

#1672 2022-02-28 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-02-28-UC3M-EpiGraph.csv
Labels: data-submission

#1671 Forecast week 28-02-2022
  data-processed/UNED-PreCoV2/2022-02-28-UNED-PreCoV2.csv
Labels: data-submission

#1667 2022-02-28-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-02-28-IEM_Health-CovidProject.csv
Labels: data-submission

#1665 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-02-28-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1662 ILM-EKF forecast for 2022-02-28
  data-processed/ILM-EKF/2022-02-28-ILM-EKF.csv
Labels: data-submission

#1661 Weekly forecast
  data-processed/RobertWalraven-ESG/2022-02-28-RobertWalraven-ESG.csv
Labels: data-submission

#1660 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-02-27-USC-SIkJalpha.csv
Labels: data-submission

#1659 2022-02-27 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-02-27-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1668 2022-02-28-epiMOX-SUIHTER and Giovanni Ziarelli added as collaborator
  data-processed/epiMOX-SUIHTER/2022-02-28-epiMOX-SUIHTER.csv
  data-processed/epiMOX-SUIHTER/metadata-epiMOX-SUIHTER.txt
Labels: data-submission, metadata-change

#1680 adds forecast ITWM
  data-processed/itwm-dSEIR/2022-02-28-itwm-dSEIR.csv
Labels: data-submission

#1683 UVA-Ensemble 2022-02-28
  data-processed/UVA-Ensemble/2022-02-28-UVA-Ensemble.csv
Labels: data-submission

#1685 2022-02-28-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-28-prolix-euclidean.csv
Labels: data-submission

#1687 Update scenario_id column in JBUD-HMXK column
  data-processed/JBUD-HMXK/2022-01-23-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-01-30-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-02-06-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-02-13-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-02-20-JBUD-HMXK.csv
  data-processed/JBUD-HMXK/2022-02-27-JBUD-HMXK.csv
Labels: data-submission

#1709 2022-03-07-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-03-07-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1690 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-03-06-USC-SIkJalpha.csv
Labels: data-submission

#1691 2022-03-06 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-03-06-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1692 FCHub SG19 Richards
  data-processed/Statgroup19-richards/2022-03-07-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-03-07-Statgroup19-spatialrichards.csv
Labels: data-submission

#1693 2022-03-07 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-03-07-UC3M-EpiGraph.csv
Labels: data-submission

#1702 2022-03-07-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-03-07-IEM_Health-CovidProject.csv
Labels: data-submission

#1704 2022-03-07-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-03-07-RobertWalraven-ESG.csv
Labels: data-submission

#1701 2022-03-07-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-03-07-epiMOX-SUIHTER.csv
Labels: data-submission

#1705 Forecast week 07-03-2022
  data-processed/UNED-PreCoV2/2022-03-07-UNED-PreCoV2.csv
Labels: data-submission

#1696 ILM-EKF forecast for 2022-03-07
  data-processed/ILM-EKF/2022-03-07-ILM-EKF.csv
Labels: data-submission

#1706 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-03-07-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1707 2022-03-07-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-03-07-ULZF-SEIRC19SI.csv
Labels: data-submission

#1708 2022-03-07-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-07-prolix-euclidean.csv
Labels: data-submission

#1711 2022-03-06 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-06-JBUD-HMXK.csv
Labels: data-submission

#1695 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-03-07-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1712 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-03-07-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-07-FIAS_FZJ-Epi1Ger.csv
  data-processed/ITWW-county_repro/2022-03-07-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-07-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1713 adds forecast itwm
  data-processed/itwm-dSEIR/2022-03-07-itwm-dSEIR.csv
Labels: data-submission

#1717 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-03-13-USC-SIkJalpha.csv
Labels: data-submission

#1738 2022-03-14 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-03-14-UC3M-EpiGraph.csv
Labels: data-submission

#1724 2022-03-14-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-03-14-IEM_Health-CovidProject.csv
Labels: data-submission

#1718 2022-03-13 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-03-13-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1732 2022-03-14-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-03-14-MUNI-ARIMA.csv
Labels: data-submission

#1720 adds forecast ITWM
  data-processed/itwm-dSEIR/2022-03-14-itwm-dSEIR.csv
Labels: data-submission

#1721 ILM-EKF forecast for 2022-03-14
  data-processed/ILM-EKF/2022-03-14-ILM-EKF.csv
Labels: data-submission

#1726 2022-03-14-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-03-14-RobertWalraven-ESG.csv
Labels: data-submission

#1728 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-03-14-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1727 Forecast week 14-03-2022
  data-processed/UNED-PreCoV2/2022-03-14-UNED-PreCoV2.csv
Labels: data-submission

#1729 2022-03-14-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-03-14-ULZF-SEIRC19SI.csv
Labels: data-submission

#1736 2022-03-14-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-03-14-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1735 2022-03-13 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-13-JBUD-HMXK.csv
Labels: data-submission

#1731 2022-03-14-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-14-prolix-euclidean.csv
Labels: data-submission

#1734 FChub SG19 Submission
  data-processed/Statgroup19-richards/2022-03-14-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-03-14-Statgroup19-spatialrichards.csv
Labels: data-submission

#1730 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-03-14-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1737 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-03-14-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-14-FIAS_FZJ-Epi1Ger.csv
  data-processed/ITWW-county_repro/2022-03-14-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-14-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1725 2022-03-14-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-03-14-epiMOX-SUIHTER.csv
Labels: data-submission

#1741 UVA-Ensemble 2022-03-14
  data-processed/UVA-Ensemble/2022-03-14-UVA-Ensemble.csv
Labels: data-submission

#1747 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-03-20-USC-SIkJalpha.csv
Labels: data-submission

#1750 Predictions 21/03/2022
  data-processed/BIOCOMSC-Gompertz/2022-03-21-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1754 2022-03-21-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-03-21-IEM_Health-CovidProject.csv
Labels: data-submission

#1745 2022-03-20 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-03-20-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1748 adds update itwm
  data-processed/itwm-dSEIR/2022-03-21-itwm-dSEIR.csv
Labels: data-submission

#1755 2022-03-21-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-03-21-RobertWalraven-ESG.csv
Labels: data-submission

#1749 FCHub SG19 Submission Richards
  data-processed/Statgroup19-richards/2022-03-21-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-03-21-Statgroup19-spatialrichards.csv
Labels: data-submission

#1751 ILM-EKF forecast for 2022-03-21
  data-processed/ILM-EKF/2022-03-21-ILM-EKF.csv
Labels: data-submission

#1756 Forecast week 21-03-2022
  data-processed/UNED-PreCoV2/2022-03-21-UNED-PreCoV2.csv
Labels: data-submission

#1760 2022-03-21-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-03-21-MUNI-ARIMA.csv
Labels: data-submission

#1758 2022-03-21-prolix-euclidean
  data-processed/prolix-euclidean/2022-03-21-prolix-euclidean.csv
Labels: data-submission

#1759 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-03-21-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1764 2022-03-20 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-20-JBUD-HMXK.csv
Labels: data-submission

#1761 2022-03-21-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-03-21-ULZF-SEIRC19SI.csv
Labels: data-submission

#1757 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-03-21-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1763 2022-03-21-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-03-21-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1762 2022-03-21-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-03-21-epiMOX-SUIHTER.csv
Labels: data-submission

#1765 2022-03-21 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-03-21-UC3M-EpiGraph.csv
Labels: data-submission

#1766 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-03-21-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-21-FIAS_FZJ-Epi1Ger.csv
  data-processed/ITWW-county_repro/2022-03-21-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-21-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1767 UVA-Ensemble 2022-03-21
  data-processed/UVA-Ensemble/2022-03-21-UVA-Ensemble.csv
Labels: data-submission

#1788 2022-03-28-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-03-28-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1782 Add USC-SIkJalpha forecasts for March 27, 2022
  data-processed/USC-SIkJalpha/2022-03-27-USC-SIkJalpha.csv
Labels: data-submission

#1776 Predictions 28-03-2022
  data-processed/BIOCOMSC-Gompertz/2022-03-28-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1772 2022-03-27 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-03-27-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1781 2022-03-28-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-03-28-IEM_Health-CovidProject.csv
Labels: data-submission

#1775 adds forecast itwm
  data-processed/itwm-dSEIR/2022-03-28-itwm-dSEIR.csv
Labels: data-submission

#1778 ILM-EKF forecast for 2022-03-28
  data-processed/ILM-EKF/2022-03-28-ILM-EKF.csv
Labels: data-submission

#1791 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-03-28-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1777 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-03-28-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1794 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-03-28-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-03-28-FIAS_FZJ-Epi1Ger.csv
  data-processed/ITWW-county_repro/2022-03-28-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-03-28-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2022-03-28-MOCOS-agent1.csv
Labels: data-submission

#1792 2022-03-28-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-03-28-MUNI-ARIMA.csv
Labels: data-submission

#1793 2022-03-27 - JBUD submission
  data-processed/JBUD-HMXK/2022-03-27-JBUD-HMXK.csv
Labels: data-submission

#1796 ICM metadata update
  data-processed/ICM-agentModel/metadata-ICM-agentModel.txt
Labels: metadata-change
