Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2022-02, with the labels that each got.

#1542 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-01-30-USC-SIkJalpha.csv
Labels: data-submission

#1543 adds forecast itwm
  data-processed/itwm-dSEIR/2022-01-31-itwm-dSEIR.csv
Labels: data-submission

#1544 ILM-EKF forecast for 2022-01-31
  data-processed/ILM-EKF/2022-01-31-ILM-EKF.csv
Labels: data-submission

#1547 Forecast submission Statgroup19
  data-processed/Statgroup19-richards/2022-01-31-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-01-31-Statgroup19-spatialrichards.csv
Labels: data-submission

#1548 2022-01-30-UMass-MechBayes
  data-processed/UMass-MechBayes/2022-01-30-UMass-MechBayes.csv
Labels: data-submission

#1549 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-01-31-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1550 2022-01-31-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-01-31-IEM_Health-CovidProject.csv
Labels: data-submission

#1551 2022-01-31-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-01-31-MUNI-ARIMA.csv
Labels: data-submission

#1554 2022-01-31 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-01-31-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1555 2022-01-31-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-01-31-RobertWalraven-ESG.csv
Labels: data-submission

#1556 2022-01-31-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-01-31-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1557 Forecast week 31-01-2022
  data-processed/UNED-PreCoV2/2022-01-31-UNED-PreCoV2.csv
Labels: data-submission

#1558 2022-01-31-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-31-prolix-euclidean.csv
Labels: data-submission

#1559 2022-01-31-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-01-31-ULZF-SEIRC19SI.csv
Labels: data-submission

#1560 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-31-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1561 2021-01-30 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-30-JBUD-HMXK.csv
Labels: data-submission

#1553 2022-01-31-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-01-31-epiMOX-SUIHTER.csv
Labels: data-submission

#1564 UVA-Ensemble 2022-01-31
  data-processed/UVA-Ensemble/2022-01-31-UVA-Ensemble.csv
Labels: data-submission

#1552 Predictions 31-01-2022
  data-processed/BIOCOMSC-Gompertz/2022-01-31-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1565 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-01-31-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-31-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2022-01-31-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-01-31-ITWW-county_repro.csv
  data-processed/MOCOS-agent1/2022-01-31-MOCOS-agent1.csv
Labels: data-submission

#1563 2022-01-31 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2021-12-13-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/2021-12-20-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/2021-12-27-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/2022-01-03-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/2022-01-10-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/2022-01-17-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/2022-01-24-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/2022-01-31-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/metadata-UC3M-EpiGraph.txt
Labels: data-submission, metadata-change

#1571 ILM-EKF forecast for 2022-02-07
  data-processed/ILM-EKF/2022-02-07-ILM-EKF.csv
Labels: data-submission

#1574 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-02-07-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1576 adding UMass-MechBayes 2022-02-06
  data-processed/UMass-MechBayes/2022-02-06-UMass-MechBayes.csv
Labels: data-submission

#1577 2022-02-07-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-02-07-IEM_Health-CovidProject.csv
Labels: data-submission

#1591 2022-02-07 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-02-07-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/metadata-UC3M-EpiGraph.txt
Labels: data-submission, metadata-change

#1590 2022-02-07-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-02-07-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1589 2021-02-06 - JBUD submission
  data-processed/JBUD-HMXK/2022-02-06-JBUD-HMXK.csv
Labels: data-submission

#1587 2022-02-07-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-02-07-MUNI-ARIMA.csv
Labels: data-submission

#1586 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-02-07-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1584 Forecast week 07-02-2022
  data-processed/UNED-PreCoV2/2022-02-07-UNED-PreCoV2.csv
Labels: data-submission

#1583 2022-02-07-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-07-prolix-euclidean.csv
Labels: data-submission

#1581 FCHub SG19 Submission
  data-processed/Statgroup19-richards/2022-02-07-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-02-07-Statgroup19-spatialrichards.csv
Labels: data-submission

#1580 2022-02-06 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-02-06-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1578 2022-02-07-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-02-07-RobertWalraven-ESG.csv
Labels: data-submission

#1585 2022-02-07-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-02-07-ULZF-SEIRC19SI.csv
Labels: data-submission

#1588 2022-02-07-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-02-07-epiMOX-SUIHTER.csv
Labels: data-submission

#1592 adds forecast itwm
  data-processed/itwm-dSEIR/2022-02-07-itwm-dSEIR.csv
Labels: data-submission

#1582 Predictions 01-02-2022
  data-processed/BIOCOMSC-Gompertz/2022-02-07-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1593 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-02-07-CovidMetrics-epiBATS.csv
  data-processed/ICM-agentModel/2022-02-07-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-02-07-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-02-07-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2022-02-07-MOCOS-agent1.csv
Labels: data-submission

#1595 Add De/Pl forecasts
  data-processed/FIAS_FZJ-Epi1Ger/2022-02-07-FIAS_FZJ-Epi1Ger.csv
Labels: data-submission

#1596 Add files via upload
  data-processed/MUNI_DMS-SEIAR/metadata-MUNI_DMS-SEIAR.txt
Labels: metadata-change

#1602 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-02-13-USC-SIkJalpha.csv
Labels: data-submission

#1603 2022-02-13 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-02-13-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1604 Submission SG19
  data-processed/Statgroup19-richards/2022-02-14-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-02-14-Statgroup19-spatialrichards.csv
Labels: data-submission

#1606 ILM-EKF forecast for 2022-02-14
  data-processed/ILM-EKF/2022-02-14-ILM-EKF.csv
Labels: data-submission

#1609 2022-02-14-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-02-14-MUNI-ARIMA.csv
Labels: data-submission

#1612 2022-02-13-UMass-MechBayes
  data-processed/UMass-MechBayes/2022-02-13-UMass-MechBayes.csv
Labels: data-submission

#1613 2022-02-14-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-02-14-RobertWalraven-ESG.csv
Labels: data-submission

#1614 2022-02-14-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-14-prolix-euclidean.csv
Labels: data-submission

#1615 Forecast week 14-02-2022
  data-processed/UNED-PreCoV2/2022-02-14-UNED-PreCoV2.csv
Labels: data-submission

#1618 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-02-14-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1619 2022-02-14-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-02-14-ULZF-SEIRC19SI.csv
  data-processed/ULZF-SEIRC19SI/metadata-ULZF-SEIRC19SI.txt
Labels: data-submission, metadata-change

#1621 2022-02-14-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-02-14-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1622 2021-02-13 - JBUD submission
  data-processed/JBUD-HMXK/2022-02-13-JBUD-HMXK.csv
Labels: data-submission

#1623 UVA-Ensemble 2022-02-14
  data-processed/UVA-Ensemble/2022-02-14-UVA-Ensemble.csv
Labels: data-submission

#1624 2022-02-14 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-02-14-UC3M-EpiGraph.csv
  data-processed/UC3M-EpiGraph/metadata-UC3M-EpiGraph.txt
Labels: data-submission, metadata-change

#1627 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-02-14-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-02-14-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2022-02-14-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-02-14-ITWW-county_repro.csv
  data-processed/MOCOS-agent1/2022-02-14-MOCOS-agent1.csv
Labels: data-submission

#1620 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-02-14-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1625 adds forecast itwm
  data-processed/itwm-dSEIR/2022-02-14-itwm-dSEIR.csv
Labels: data-submission

#1610 Predictions 14-02-2022
  data-processed/BIOCOMSC-Gompertz/2022-02-14-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1632 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-02-21-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1633 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-02-20-USC-SIkJalpha.csv
Labels: data-submission

#1634 2022-02-20 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-02-20-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1635 2022-02-21-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-02-21-RobertWalraven-ESG.csv
Labels: data-submission

#1636 ILM-EKF forecast for 2022-02-21
  data-processed/ILM-EKF/2022-02-21-ILM-EKF.csv
Labels: data-submission

#1640 2022-02-21 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-02-21-UC3M-EpiGraph.csv
Labels: data-submission

#1641 2022-02-21-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-02-21-MUNI-ARIMA.csv
Labels: data-submission

#1642 2022-02-21-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-02-21-IEM_Health-CovidProject.csv
Labels: data-submission

#1643 FCHub Submission SG19
  data-processed/Statgroup19-richards/2022-02-21-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-02-21-Statgroup19-spatialrichards.csv
Labels: data-submission

#1644 2022-02-21-prolix-euclidean
  data-processed/prolix-euclidean/2022-02-21-prolix-euclidean.csv
Labels: data-submission

#1645 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-02-21-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1646 2022-02-21-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-02-21-ULZF-SEIRC19SI.csv
Labels: data-submission

#1647 Forecast week 21-02-2022
  data-processed/UNED-PreCoV2/2022-02-21-UNED-PreCoV2.csv
Labels: data-submission

#1651 2021-02-20 - JBUD submission
  data-processed/JBUD-HMXK/2022-02-20-JBUD-HMXK.csv
Labels: data-submission

#1652 adds forecast itwm
  data-processed/itwm-dSEIR/2022-02-21-itwm-dSEIR.csv
Labels: data-submission

#1653 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-02-21-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-02-21-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2022-02-21-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-02-21-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-02-21-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2022-02-21-MOCOS-agent1.csv
Labels: data-submission

#1650 2022-02-21-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-02-21-epiMOX-SUIHTER.csv
Labels: data-submission

#1649 2022-02-21-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-02-21-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1648 Predictions 21-02-2022
  data-processed/BIOCOMSC-Gompertz/2022-02-21-BIOCOMSC-Gompertz.csv
Labels: data-submission
