Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2022-07, with the labels that each got.

#2083 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-07-03-USC-SIkJalpha.csv
Labels: data-submission

#2087 Predictions 04-07-2022
  data-processed/BIOCOMSC-Gompertz/2022-07-04-BIOCOMSC-Gompertz.csv
Labels: data-submission

#2088 ILM-EKF forecast for 2022-07-04
  data-processed/ILM-EKF/2022-07-04-ILM-EKF.csv
Labels: data-submission

#2089 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-07-04-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#2084 2022-07-03 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-07-03-SDSC_ISG-TrendModel.csv
Labels: data-submission

#2091 2022-07-04-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-07-04-RobertWalraven-ESG.csv
Labels: data-submission

#2093 2022-07-04-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-04-MUNI-ARIMA.csv
Labels: data-submission

#2094 2022-07-04-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-07-04-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#2095 adds forecast ITWM
  data-processed/itwm-dSEIR/2022-07-04-itwm-dSEIR.csv
Labels: data-submission

#2092 2022-07-04-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-07-04-epiMOX-SUIHTER.csv
Labels: data-submission

#2096 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-07-04-CovidMetrics-epiBATS.csv
  data-processed/ITWW-county_repro/2022-07-04-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-07-04-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#2097 Add forecast 2022-07-04 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-07-04-UC3M-EpiGraph.csv
Labels: data-submission

#2124 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-07-11-CovidMetrics-epiBATS.csv
  data-processed/ICM-agentModel/2022-07-11-ICM-agentModel.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-07-11-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#2108 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-07-10-USC-SIkJalpha.csv
Labels: data-submission

#2109 2022-07-10 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-07-10-SDSC_ISG-TrendModel.csv
Labels: data-submission

#2111 ILM-EKF forecast for 2022-07-11
  data-processed/ILM-EKF/2022-07-11-ILM-EKF.csv
Labels: data-submission

#2116 2022-07-11-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-07-11-RobertWalraven-ESG.csv
Labels: data-submission

#2117 2022-07-11-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-07-11-epiMOX-SUIHTER.csv
Labels: data-submission

#2118 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-07-11-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#2119 2022-07-11-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-11-MUNI-ARIMA.csv
Labels: data-submission

#2123 Add forecast 2022-07-11 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-07-11-UC3M-EpiGraph.csv
Labels: data-submission

#2122 adds forecast ITWM
  data-processed/itwm-dSEIR/2022-07-11-itwm-dSEIR.csv
Labels: data-submission

#2121 2022-07-11-HZIAgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-07-11-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#2145 2022-07-18-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-07-18-RobertWalraven-ESG.csv
Labels: data-submission

#2144 2022-07-18-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-18-MUNI-ARIMA.csv
Labels: data-submission

#2143 2022-07-18-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-07-18-epiMOX-SUIHTER.csv
Labels: data-submission

#2141 ILM-EKF forecast for 2022-07-18
  data-processed/ILM-EKF/2022-07-18-ILM-EKF.csv
Labels: data-submission

#2139 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-07-18-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#2136 Add forecast 2022-07-18 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-07-18-UC3M-EpiGraph.csv
Labels: data-submission

#2131 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-07-17-USC-SIkJalpha.csv
  data-processed/USC-SIkJalpha/metadata-USC-SIkJalpha.yml
Labels: data-submission, metadata-change

#2148 2022-07-18-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-07-18-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#2149 adds forecast ITWM
  data-processed/itwm-dSEIR/2022-07-18-itwm-dSEIR.csv
Labels: data-submission

#2146 UVA-Ensemble 2022-07-18
  data-processed/UVA-Ensemble/2022-07-18-UVA-Ensemble.csv
Labels: data-submission

#2150 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-07-18-CovidMetrics-epiBATS.csv
  data-processed/ICM-agentModel/2022-07-18-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-07-18-ITWW-county_repro.csv
Labels: data-submission

#2152 Add De/Pl forecasts
  data-processed/MOCOS-agent1/2022-07-18-MOCOS-agent1.csv
Labels: data-submission

#2155 Upload 2022-07-17 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-07-17-Karlen-pypm.csv
Labels: data-submission

#2160 USC-SIkJalpha: Add files via upload
  data-processed/USC-SIkJalpha/2022-07-24-USC-SIkJalpha.csv
Labels: data-submission

#2161 2022-07-24 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-07-24-SDSC_ISG-TrendModel.csv
Labels: data-submission

#2162 Upload 2022-07-24 forecast for Karlen-pypm
  data-processed/Karlen-pypm/2022-07-24-Karlen-pypm.csv
Labels: data-submission

#2164 ILM-EKF forecast for 2022-07-25
  data-processed/ILM-EKF/2022-07-25-ILM-EKF.csv
Labels: data-submission

#2168 2022-07-25-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-07-25-RobertWalraven-ESG.csv
Labels: data-submission

#2169 2022-07-25-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-07-25-MUNI-ARIMA.csv
Labels: data-submission

#2170 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-07-25-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#2172 2022-07-25-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-07-25-epiMOX-SUIHTER.csv
Labels: data-submission

#2173 Add forecast 2022-07-25 UC3M-EpiGraph
  data-processed/UC3M-EpiGraph/2022-07-25-UC3M-EpiGraph.csv
Labels: data-submission

#2174 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-07-25-CovidMetrics-epiBATS.csv
  data-processed/ICM-agentModel/2022-07-25-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-07-25-ITWW-county_repro.csv
  data-processed/MOCOS-agent1/2022-07-25-MOCOS-agent1.csv
Labels: data-submission

#2175 adds forecast ITWM
  data-processed/itwm-dSEIR/2022-07-25-itwm-dSEIR.csv
Labels: data-submission

#2167 Added GoeWroc Project Folder + Submission 25-07-2022
  data-processed/GoeWroc-BaseBayes/2022-07-25-GoeWroc-BaseBayes.csv
  data-processed/GoeWroc-BaseBayes/metadata-GoeWroc-BaseBayes.yml
Labels: data-submission, metadata-change

#2165 Predictions 25-07-2022
  data-processed/BIOCOMSC-Gompertz/2022-07-18-BIOCOMSC-Gompertz.csv
  data-processed/BIOCOMSC-Gompertz/2022-07-25-BIOCOMSC-Gompertz.csv
Labels: data-submission

#2180 Update metadata-itwm-dSEIR.yml
  data-processed/itwm-dSEIR/metadata-itwm-dSEIR.yml
Labels: metadata-change
