Repository european-modelling-hubs/covid19-forecast-hub-europe, pull requests merged in 2022-01, with the labels that each got.

#1421 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-01-02-USC-SIkJalpha.csv
Labels: data-submission

#1422 2022-01-03-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-01-03-RobertWalraven-ESG.csv
Labels: data-submission

#1423 2022-01-03 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-01-03-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1426 ILM-EKF forecast for 2022-01-03
  data-processed/ILM-EKF/2022-01-03-ILM-EKF.csv
Labels: data-submission

#1428 2022-01-03-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-01-03-IEM_Health-CovidProject.csv
Labels: data-submission

#1429 2022-01-03-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-01-03-ULZF-SEIRC19SI.csv
Labels: data-submission

#1431 2022-01-02-UMass-MechBayes
  data-processed/UMass-MechBayes/2022-01-02-UMass-MechBayes.csv
Labels: data-submission

#1432 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-01-03-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1433 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-03-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1435 Forecast week 03-01-2022
  data-processed/UNED-PreCoV2/2022-01-03-UNED-PreCoV2.csv
Labels: data-submission

#1437 2022-01-03-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-01-03-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1438 2021-01-02 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-02-JBUD-HMXK.csv
Labels: data-submission

#1439 UVA-Ensemble 2022-01-03
  data-processed/UVA-Ensemble/2022-01-03-UVA-Ensemble.csv
Labels: data-submission

#1440 4.1.22
  data-processed/UpgUmibUsi-MultiBayes/2022-01-02-UpgUmibUsi-MultiBayes.csv
Labels: data-submission

#1441 adds forecast itwm
  data-processed/itwm-dSEIR/2022-01-03-itwm-dSEIR.csv
Labels: data-submission

#1442 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-01-03-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-03-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2022-01-03-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-01-03-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-02-MIT_CovidAnalytics-DELPHI.csv
Labels: data-submission

#1434 2022-01-03 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-01-03-epiMOX-SUIHTER.csv
Labels: data-submission

#1427 prolix
  data-processed/prolix-euclidean/2022-01-03-prolix-euclidean.csv
  data-processed/prolix-euclidean/metadata-prolix-euclidean.txt
Labels: data-submission, metadata-change

#1436 Predictions 03-01-2022
  data-processed/BIOCOMSC-Gompertz/2022-01-03-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1443 Add forecast PR #1430
  data-processed/MUNI-ARIMA/2022-01-03-MUNI-ARIMA.csv
Labels: data-submission

#1447 Add MOCOS for 2022-01-03
  data-processed/MOCOS-agent1/2022-01-03-MOCOS-agent1.csv
Labels: data-submission

#1449 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-01-09-USC-SIkJalpha.csv
Labels: data-submission

#1450 2022-01-10-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-01-10-RobertWalraven-ESG.csv
Labels: data-submission

#1451 2022-01-10 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-01-10-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1456 ILM-EKF forecast for 2022-01-10
  data-processed/ILM-EKF/2022-01-10-ILM-EKF.csv
Labels: data-submission

#1458 2022-01-10-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-01-10-IEM_Health-CovidProject.csv
Labels: data-submission

#1461 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-01-10-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1462 2022-01-10-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-10-prolix-euclidean.csv
Labels: data-submission

#1463 Forecast week 10-01-2022
  data-processed/UNED-PreCoV2/2022-01-10-UNED-PreCoV2.csv
Labels: data-submission

#1465 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-10-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1466 2022-01-10-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-01-10-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1467 UVA-Ensemble 2022-01-10
  data-processed/UVA-Ensemble/2022-01-10-UVA-Ensemble.csv
Labels: data-submission

#1468 adds forecast itwm
  data-processed/itwm-dSEIR/2022-01-10-itwm-dSEIR.csv
Labels: data-submission

#1469 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-01-10-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-10-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2022-01-10-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-01-10-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-10-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2022-01-10-MOCOS-agent1.csv
Labels: data-submission

#1459 2022-01-10 epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-01-10-epiMOX-SUIHTER.csv
Labels: data-submission

#1455 UMass-MechBayes 2022-01-09 submission
  data-processed/UMass-MechBayes/2022-01-09-UMass-MechBayes.csv
Labels: data-submission

#1464 Predictions 10-01-2022
  data-processed/BIOCOMSC-Gompertz/2022-01-10-BIOCOMSC-Gompertz.csv
Labels: data-submission

#1470 2022-01-10-MUNI-ARIMA - v2
  data-processed/MUNI-ARIMA/2022-01-10-MUNI-ARIMA.csv
Labels: data-submission

#1472 2021-01-09 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-09-JBUD-HMXK.csv
Labels: data-submission

#1482 Add folder and metadata for epiforecasts-weeklygrowth
  data-processed/epiforecasts-weeklygrowth/metadata-epiforecasts-weeklygrowth.txt
Labels: metadata-change

#1477 Forecast1-Ominicron-wave
  data-processed/DirkBeckmann-Gompertz/2022-01-17-DirkBeckmann-Gompertz.csv
Labels: data-submission

#1478 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-01-16-USC-SIkJalpha.csv
Labels: data-submission

#1479 2022-01-17-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-01-17-RobertWalraven-ESG.csv
Labels: data-submission

#1480 adds forecast itwm
  data-processed/itwm-dSEIR/2022-01-17-itwm-dSEIR.csv
Labels: data-submission

#1483 ILM-EKF forecast for 2022-01-17
  data-processed/ILM-EKF/2022-01-17-ILM-EKF.csv
Labels: data-submission

#1484 2022-01-17 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-01-17-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1487 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-01-17-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1488 2022-01-17-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-01-17-epiMOX-SUIHTER.csv
Labels: data-submission

#1489 2022-01-17-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-01-17-IEM_Health-CovidProject.csv
Labels: data-submission

#1490 2022-01-17-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-01-17-ULZF-SEIRC19SI.csv
Labels: data-submission

#1494 Forecast submission statgroup19
  data-processed/Statgroup19-richards/2022-01-17-Statgroup19-richards.csv
  data-processed/Statgroup19-spatialrichards/2022-01-17-Statgroup19-spatialrichards.csv
Labels: data-submission

#1495 2022-01-17-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-01-17-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1496 2022-01-17-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-17-prolix-euclidean.csv
Labels: data-submission

#1497 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-17-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1498 2021-01-16 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-16-JBUD-HMXK.csv
Labels: data-submission

#1499 Add De/Pl forecasts
  data-processed/CovidMetrics-epiBATS/2022-01-17-CovidMetrics-epiBATS.csv
  data-processed/FIAS_FZJ-Epi1Ger/2022-01-17-FIAS_FZJ-Epi1Ger.csv
  data-processed/ICM-agentModel/2022-01-17-ICM-agentModel.csv
  data-processed/ITWW-county_repro/2022-01-17-ITWW-county_repro.csv
  data-processed/MIT_CovidAnalytics-DELPHI/2022-01-17-MIT_CovidAnalytics-DELPHI.csv
  data-processed/MOCOS-agent1/2022-01-17-MOCOS-agent1.csv
Labels: data-submission

#1500 UVA-Ensemble 2022-01-17
  data-processed/UVA-Ensemble/2022-01-17-UVA-Ensemble.csv
Labels: data-submission

#1501 2022-01-17-MUNI-ARIMA cherry-pick forecast commit
  data-processed/MUNI-ARIMA/2022-01-17-MUNI-ARIMA.csv
Labels: data-submission

#1492 2022-01-16 submission
  data-processed/UMass-MechBayes/2022-01-16-UMass-MechBayes.csv
Labels: data-submission

#1512 Forecast-2-Omikron-wave
  data-processed/DirkBeckmann-Gompertz/2022-01-24-DirkBeckmann-Gompertz.csv
Labels: data-submission

#1513 USC-SIkJalpha: Weekly update
  data-processed/USC-SIkJalpha/2022-01-23-USC-SIkJalpha.csv
Labels: data-submission

#1514 adds forecast ITWM
  data-processed/itwm-dSEIR/2022-01-24-itwm-dSEIR.csv
Labels: data-submission

#1515 2022-01-24-epiMOX-SUIHTER
  data-processed/epiMOX-SUIHTER/2022-01-24-epiMOX-SUIHTER.csv
Labels: data-submission

#1516 ILM-EKF forecast for 2022-01-24
  data-processed/ILM-EKF/2022-01-24-ILM-EKF.csv
Labels: data-submission

#1519 Add files via upload
  data-processed/MUNI_DMS-SEIAR/2022-01-24-MUNI_DMS-SEIAR.csv
Labels: data-submission

#1521 2022-01-24 - SDSC_ISG-TrendModel Forecast Update
  data-processed/SDSC_ISG-TrendModel/2022-01-24-SDSC_ISG-TrendModel.csv
Labels: data-submission

#1523 2022-01-24-IEM_Health-CovidProject
  data-processed/IEM_Health-CovidProject/2022-01-24-IEM_Health-CovidProject.csv
Labels: data-submission

#1524 2022-01-23-UMass-MechBayes
  data-processed/UMass-MechBayes/2022-01-23-UMass-MechBayes.csv
Labels: data-submission

#1525 2022-01-24-RobertWalraven-ESG
  data-processed/RobertWalraven-ESG/2022-01-24-RobertWalraven-ESG.csv
Labels: data-submission

#1526 Forecast submission statgroup19
  data-processed/Statgroup19-richards/2022-01-24-Statgroup19-richards.csv
Labels: data-submission

#1527 2022-01-24-prolix-euclidean
  data-processed/prolix-euclidean/2022-01-24-prolix-euclidean.csv
Labels: data-submission

#1528 2022-01-24-MUNI-ARIMA
  data-processed/MUNI-ARIMA/2022-01-24-MUNI-ARIMA.csv
Labels: data-submission

#1530 2022-01-24-ULZF-SEIRC19SI
  data-processed/ULZF-SEIRC19SI/2022-01-24-ULZF-SEIRC19SI.csv
Labels: data-submission

#1531 Forecast week 24-01-2022
  data-processed/UNED-PreCoV2/2022-01-24-UNED-PreCoV2.csv
Labels: data-submission

#1532 2021-01-23 - JBUD submission
  data-processed/JBUD-HMXK/2022-01-23-JBUD-HMXK.csv
Labels: data-submission

#1533 Add files via upload
  data-processed/PL_GRedlarski-DistrictsSum/2022-01-24-PL_GRedlarski-DistrictsSum.csv
Labels: data-submission

#1534 2022-01-24-HZI-AgeExtendedSEIR
  data-processed/HZI-AgeExtendedSEIR/2022-01-24-HZI-AgeExtendedSEIR.csv
Labels: data-submission

#1535 UVA-Ensemble 2022-01-24
  data-processed/UVA-Ensemble/2022-01-24-UVA-Ensemble.csv
Labels: data-submission

#1529 Predictions 24-01-2022
  data-processed/BIOCOMSC-Gompertz/2022-01-24-BIOCOMSC-Gompertz.csv
Labels: data-submission
